[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
pelvis
spine_01
spine_02
spine_03
spine_04
spine_05
clavicle_l
upperarm_l
lowerarm_l
hand_l
index_metacarpal_l
index_01_l
index_02_l
index_03_l
middle_metacarpal_l
middle_01_l
middle_02_l
middle_03_l
pinky_metacarpal_l
pinky_01_l
pinky_02_l
pinky_03_l
ring_metacarpal_l
ring_01_l
ring_02_l
ring_03_l
thumb_01_l
thumb_02_l
thumb_03_l
lowerarm_twist_01_l
lowerarm_twist_02_l
deform_elbow_bk_l
upperarm_twist_01_l
deform_deltoid_fr_l
dyn_lion_jaw_l
upperarm_twist_02_l
deform_elbow_fr_l
deform_pectoral_fr_l
dyn_lion_head_l
clavicle_r
upperarm_r
lowerarm_r
hand_r
index_metacarpal_r
index_01_r
index_02_r
index_03_r
middle_metacarpal_r
middle_01_r
middle_02_r
middle_03_r
pinky_metacarpal_r
pinky_01_r
pinky_02_r
pinky_03_r
ring_metacarpal_r
ring_01_r
ring_02_r
ring_03_r
thumb_01_r
thumb_02_r
thumb_03_r
lowerarm_twist_01_r
lowerarm_twist_02_r
deform_elbow_bk_r
upperarm_twist_01_r
deform_deltoid_fr_r
dyn_rion_jaw_r
upperarm_twist_02_r
deform_elbow_fr_r
deform_pectoral_fr_r
dyn_rion_head_r
neck_01
neck_02
head
dyn_hood_fr_top_l_MSTR
dyn_hood_fr_top_l
dyn_hood_l_top_MSTR
dyn_hood_l_top
dyn_hood_bk_top_MSTR
dyn_hood_bk_top
dyn_hood_bk_bott_MSTR
dyn_hood_bk_bott_01
dyn_hood_bk_bott_02
dyn_string_l_MSTR
dyn_string_l_01
dyn_string_l_02
dyn_string_l_03
dyn_string_l_04
dyn_hood_r_top_MSTR
dyn_hood_r_top
dyn_hood_fr_top_r_MSTR
dyn_hood_fr_top_r
dyn_string_r_MSTR
dyn_string_r_01
dyn_string_r_02
dyn_string_r_03
dyn_string_r_04
spine_04_aimer
dyn_jacket_bk_l_01_MSTR
dyn_jacket_bk_l_01
dyn_jacket_bk_l_02
dyn_jacket_bk_l_03
dyn_jacket_l_01_MSTR
dyn_jacket_l_01
dyn_jacket_l_02
dyn_jacket_l_03
dyn_jacket_fr_l_01_MSTR
dyn_jacket_fr_l_01
dyn_jacket_fr_l_02
dyn_jacket_fr_l_03
dyn_jacket_fr_r_01_MSTR
dyn_jacket_fr_r_01
dyn_jacket_fr_r_02
dyn_jacket_fr_r_03
dyn_jacket_r_01_MSTR
dyn_jacket_r_01
dyn_jacket_r_02
dyn_jacket_r_03
dyn_jacket_bk_r_01_MSTR
dyn_jacket_bk_r_01
dyn_jacket_bk_r_02
dyn_jacket_bk_r_03
dyn_jacket_bk_01_MSTR
dyn_jacket_bk_01
dyn_jacket_bk_02
dyn_jacket_bk_03
thigh_l
calf_l
calf_twist_01_l
calf_twist_02_l
foot_l
ball_l
dyn_shoe_pull_l
deform_knee_bk_01_l
deform_knee_fr_01_l
thigh_twist_01_l
deform_thigh_bk_l
deform_thigh_fr_l
thigh_r
calf_r
calf_twist_01_r
calf_twist_02_r
foot_r
ball_r
dyn_shoe_pull_r
deform_knee_bk_01_r
deform_knee_fr_01_r
thigh_twist_01_r
deform_thigh_bk_r
deform_thigh_fr_r
dyn_jacket_bkout_l_01_MSTR
dyn_jacket_bkout_l_01
dyn_jacket_bkout_l_02
dyn_jacket_bkout_l_03
dyn_jacket_bkout_r_01_MSTR
dyn_jacket_bkout_r_01
dyn_jacket_bkout_r_02
dyn_jacket_bkout_r_03
dyn_shoe_tongue_l
dyn_shoe_tongue_r
