[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
pack
body_scale
dyn_body
dyn_head
dyn_chin
dyn_forehead
dyn_nose
dyn_R_eyeball
R_upperEyelid_master
R_upperEyelid
R_lowerEyelid_master
R_lowerEyelid
dyn_floppyJowl_R
dyn_R_ear_1
dyn_R_ear_2
dyn_R_brow_1
dyn_R_brow_2
dyn_R_brow_3
dyn_R_brow_4
dyn_R_lowerEye_1
dyn_R_lowerEye_2
L_lowerEyelid_master
L_lowerEyelid
L_upperEyelid_master
L_upperEyelid
dyn_L_eyeball
dyn_floppyJowl_L
dyn_L_ear_1
dyn_L_ear_2
dyn_L_brow_1
dyn_L_brow_2
dyn_L_brow_3
dyn_L_brow_4
dyn_L_lowerEye_1
dyn_L_lowerEye_2
dyn_lowerLip
