[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
offset
JNT_Breakthrough_Main
JNT_Pen_01
JNT_Pen_02
JNT_Pen_03
JNT_Pen_04
JNT_Pen_05
JNT_Paper1_01
JNT_Paper1_02_L
JNT_Paper1_03_L
JNT_Paper1_04_L
JNT_Paper1_06_L
JNT_Paper1_02_R
JNT_Paper1_03_R
JNT_Paper1_04_R
JNT_Paper1_06_R
JNT_Paper2_01
JNT_Paper2_02_L
JNT_Paper2_03_L
JNT_Paper2_04_L
JNT_Paper2_06_L
JNT_Paper2_02_R
JNT_Paper2_03_R
JNT_Paper2_04_R
JNT_Paper2_06_R
JNT_Paper3_01
JNT_Paper3_02_L
JNT_Paper3_03_L
JNT_Paper3_04_L
JNT_Paper3_06_L
JNT_Paper3_02_R
JNT_Paper3_03_R
JNT_Paper3_04_R
JNT_Paper3_06_R
JNT_Paper4_01
JNT_Paper4_02_L
JNT_Paper4_03_L
JNT_Paper4_04_L
JNT_Paper4_06_L
JNT_Paper4_02_R
JNT_Paper4_03_R
JNT_Paper4_04_R
JNT_Paper4_06_R

[RemoveTracks]
Emote_BreakThrough_CMF_Breakthrough_Items_Gadget.35=all
Emote_BreakThrough_CMF_Breakthrough_Items_Gadget.36=all
Emote_BreakThrough_CMF_Breakthrough_Items_Gadget.37=all
Emote_BreakThrough_CMF_Breakthrough_Items_Gadget.38=all
Emote_BreakThrough_CMF_Breakthrough_Items_Gadget.39=all
Emote_BreakThrough_CMF_Breakthrough_Items_Gadget.40=all
Emote_BreakThrough_CMF_Breakthrough_Items_Gadget.41=all
Emote_BreakThrough_CMF_Breakthrough_Items_Gadget.42=all
Emote_BreakThrough_CMF_Breakthrough_Items_Gadget.43=all
