[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
pelvis
spine_01
spine_02
spine_03
spine_04
spine_05
neck_01
neck_02
head
faceAttach
C_brow_mid
L_brow_mid
L_brow_outer
L_cheek_inner
C_nose_bridge
R_brow_mid
R_brow_outer
R_cheek_inner
R_eye
R_eye_lid_upper_mid
R_eye_lid_lower_mid
L_eye
L_eye_lid_upper_mid
L_eye_lid_lower_mid
dyn_tentacle_head_collision
dyn_head_tentacle_d
dyn_head_tentacle_c
dyn_head_tentacle_c_01
dyn_head_tentacle_b
dyn_head_tentacle_b_01
dyn_head_tentacle_a
dyn_tentacle_neck_01_collision
C_lip_upper_mid
L_lip_upper_outer
dyn_l_mouth_tentacle_a_MSTR
dyn_l_mouth_tentacle_a_01
dyn_l_mouth_tentacle_a_02
dyn_l_mouth_tentacle_a_03
dyn_l_mouth_tentacle_a_04
L_lip_corner
dyn_l_mouth_tentacle_c_MSTR
dyn_l_mouth_tentacle_c_01
dyn_l_mouth_tentacle_c_02
dyn_l_mouth_tentacle_c_03
dyn_l_mouth_tentacle_c_04
R_lip_corner
dyn_r_mouth_tentacle_c_MSTR
dyn_r_mouth_tentacle_c_01
dyn_r_mouth_tentacle_c_02
dyn_r_mouth_tentacle_c_03
dyn_r_mouth_tentacle_c_04
dyn_r_mouth_tentacle_c_05
C_jaw
L_lip_lower_outer
dyn_l_mouth_tentacle_b_MSTR
dyn_l_mouth_tentacle_b_01
dyn_l_mouth_tentacle_b_02
dyn_l_mouth_tentacle_b_03
dyn_l_mouth_tentacle_b_04
C_lip_lower_mid
R_lip_lower_outer
dyn_r_mouth_tentacle_b_MSTR
dyn_r_mouth_tentacle_b_01
dyn_r_mouth_tentacle_b_02
dyn_r_mouth_tentacle_b_03
dyn_r_mouth_tentacle_b_04
tongue
dyn_r_mouth_tongue_MSTR
dyn_r_mouth_tongue
dyn_r_mouth_tongue_01
dyn_l_mouth_tongue_MSTR
dyn_l_mouth_tongue
dyn_l_mouth_tongue_01
R_lip_upper_outer
dyn_r_mouth_tentacle_a_MSTR
dyn_r_mouth_tentacle_a_01
dyn_r_mouth_tentacle_a_02
dyn_r_mouth_tentacle_a_03
dyn_r_mouth_tentacle_a_04
dyn_R_eye
dyn_L_eye
dyn_fin_l
dyn_fin_l_02
dyn_fin_r
dyn_fin_r_02
teeth_upper
teeth_lower
dyn_l_lip_upper_outer_MSTR
dyn_l_lip_upper_outer_01
dyn_l_lip_upper_outer_02
dyn_r_lip_upper_outer_MSTR
dyn_r_lip_upper_outer_01
dyn_r_lip_upper_outer_02
clavicle_l
dyn_tentacle_clavicle_l
clavicle_r
dyn_tentacle_clavicle_r
dyn_L_whiskers_MSTR
dyn_whiskers_L_01
dyn_whiskers_L_02
dyn_whiskers_L_03
dyn_R_whiskers_MSTR
dyn_whiskers_R_01
dyn_whiskers_R_02
dyn_whiskers_R_03
dyn_brains_MSTR
dyn_brains
dyn_R_brain_eye_MSTR
dyn_L_brain_eye_MSTR
dyn_Cyclops_eye_MSTR
dyn_Cyclops_pincer_l_MSTR
dyn_Cyclops_pincer_l_01
dyn_Cyclops_pincer_l_02
dyn_Cyclops_pincer_l_03
dyn_Cyclops_pincer_r_MSTR
dyn_Cyclops_pincer_r_01
dyn_Cyclops_pincer_r_02
dyn_Cyclops_pincer_r_03
dyn_spikes_MSTR
dyn_spikes_19
dyn_spikes_18
dyn_spikes_17
dyn_spikes_16
dyn_spikes_15
dyn_spikes_14
dyn_spikes_13
dyn_spikes_12
dyn_spikes_11
dyn_spikes_10
dyn_spikes_09
dyn_spikes_08
dyn_spikes_07
dyn_spikes_06
dyn_spikes_05
dyn_spikes_04
dyn_spikes_03
dyn_spikes_02
dyn_spikes_01
dyn_spikes_00
dyn_spikes_20
dyn_brow_l_master
dyn_brow_l_01
dyn_brow_l_02
dyn_brow_r_master
dyn_brow_r_01
dyn_brow_r_02
dyn_ponytail_master
dyn_ponytail_01
dyn_ponytail_02
dyn_ponytail_03
dyn_ponytail_04
dyn_mohawk_mid_master
dyn_mohawk_mid_01
dyn_mohawk_front_master
dyn_mohawk_front_01
dyn_mohawk_front_02
dyn_ear_l_master
dyn_ear_l_01
dyn_ear_l_02
dyn_ear_l_03
dyn_ear_l_04
dyn_ear_r_master
dyn_ear_r_01
dyn_ear_r_02
dyn_ear_r_03
dyn_ear_r_04
dyn_moustache_l_master
dyn_moustache_l_01
dyn_moustache_l_02
dyn_beard_l_master
dyn_beard_l_01
dyn_beard_l_02
dyn_beard_r_master
dyn_beard_r_01
dyn_beard_r_02
dyn_moustache_r_master
dyn_moustache_r_01
dyn_moustache_r_02
dyn_r_eye_owl
dyn_l_eye_owl
dyn_owl_head
dyn_neck_02_owl
dyn_neck_01_owl
dyn_spine_05_owl
dyn_tentacle_spine_05

[RemoveTracks]
Male_Medium_Alien_Trooper_Horns_Poses.25=all
Male_Medium_Alien_Trooper_Horns_Poses.26=all
Male_Medium_Alien_Trooper_Horns_Poses.27=all
Male_Medium_Alien_Trooper_Horns_Poses.28=all
Male_Medium_Alien_Trooper_Horns_Poses.29=all
Male_Medium_Alien_Trooper_Horns_Poses.30=all
Male_Medium_Alien_Trooper_Horns_Poses.31=all
Male_Medium_Alien_Trooper_Horns_Poses.32=all
Male_Medium_Alien_Trooper_Horns_Poses.35=all
Male_Medium_Alien_Trooper_Horns_Poses.36=all
Male_Medium_Alien_Trooper_Horns_Poses.37=all
Male_Medium_Alien_Trooper_Horns_Poses.38=all
Male_Medium_Alien_Trooper_Horns_Poses.39=all
Male_Medium_Alien_Trooper_Horns_Poses.41=all
Male_Medium_Alien_Trooper_Horns_Poses.42=all
Male_Medium_Alien_Trooper_Horns_Poses.43=all
Male_Medium_Alien_Trooper_Horns_Poses.44=all
Male_Medium_Alien_Trooper_Horns_Poses.45=all
Male_Medium_Alien_Trooper_Horns_Poses.47=all
Male_Medium_Alien_Trooper_Horns_Poses.48=all
Male_Medium_Alien_Trooper_Horns_Poses.49=all
Male_Medium_Alien_Trooper_Horns_Poses.50=all
Male_Medium_Alien_Trooper_Horns_Poses.51=all
Male_Medium_Alien_Trooper_Horns_Poses.52=all
Male_Medium_Alien_Trooper_Horns_Poses.55=all
Male_Medium_Alien_Trooper_Horns_Poses.56=all
Male_Medium_Alien_Trooper_Horns_Poses.57=all
Male_Medium_Alien_Trooper_Horns_Poses.58=all
Male_Medium_Alien_Trooper_Horns_Poses.59=all
Male_Medium_Alien_Trooper_Horns_Poses.62=all
Male_Medium_Alien_Trooper_Horns_Poses.63=all
Male_Medium_Alien_Trooper_Horns_Poses.64=all
Male_Medium_Alien_Trooper_Horns_Poses.65=all
Male_Medium_Alien_Trooper_Horns_Poses.66=all
Male_Medium_Alien_Trooper_Horns_Poses.68=all
Male_Medium_Alien_Trooper_Horns_Poses.69=all
Male_Medium_Alien_Trooper_Horns_Poses.70=all
Male_Medium_Alien_Trooper_Horns_Poses.71=all
Male_Medium_Alien_Trooper_Horns_Poses.72=all
Male_Medium_Alien_Trooper_Horns_Poses.73=all
Male_Medium_Alien_Trooper_Horns_Poses.75=all
Male_Medium_Alien_Trooper_Horns_Poses.76=all
Male_Medium_Alien_Trooper_Horns_Poses.77=all
Male_Medium_Alien_Trooper_Horns_Poses.78=all
Male_Medium_Alien_Trooper_Horns_Poses.79=all
Male_Medium_Alien_Trooper_Horns_Poses.80=all
Male_Medium_Alien_Trooper_Horns_Poses.81=all
Male_Medium_Alien_Trooper_Horns_Poses.82=all
Male_Medium_Alien_Trooper_Horns_Poses.83=all
Male_Medium_Alien_Trooper_Horns_Poses.84=all
Male_Medium_Alien_Trooper_Horns_Poses.85=all
Male_Medium_Alien_Trooper_Horns_Poses.88=all
Male_Medium_Alien_Trooper_Horns_Poses.89=all
Male_Medium_Alien_Trooper_Horns_Poses.90=all
Male_Medium_Alien_Trooper_Horns_Poses.91=all
Male_Medium_Alien_Trooper_Horns_Poses.92=all
Male_Medium_Alien_Trooper_Horns_Poses.93=all
Male_Medium_Alien_Trooper_Horns_Poses.95=all
Male_Medium_Alien_Trooper_Horns_Poses.97=all
Male_Medium_Alien_Trooper_Horns_Poses.98=all
Male_Medium_Alien_Trooper_Horns_Poses.99=all
Male_Medium_Alien_Trooper_Horns_Poses.100=all
Male_Medium_Alien_Trooper_Horns_Poses.101=all
Male_Medium_Alien_Trooper_Horns_Poses.102=all
Male_Medium_Alien_Trooper_Horns_Poses.103=all
Male_Medium_Alien_Trooper_Horns_Poses.104=all
Male_Medium_Alien_Trooper_Horns_Poses.105=all
Male_Medium_Alien_Trooper_Horns_Poses.106=all
Male_Medium_Alien_Trooper_Horns_Poses.107=all
Male_Medium_Alien_Trooper_Horns_Poses.108=all
Male_Medium_Alien_Trooper_Horns_Poses.109=all
Male_Medium_Alien_Trooper_Horns_Poses.110=all
Male_Medium_Alien_Trooper_Horns_Poses.111=all
Male_Medium_Alien_Trooper_Horns_Poses.112=all
Male_Medium_Alien_Trooper_Horns_Poses.113=all
Male_Medium_Alien_Trooper_Horns_Poses.114=all
Male_Medium_Alien_Trooper_Horns_Poses.115=all
Male_Medium_Alien_Trooper_Horns_Poses.116=all
Male_Medium_Alien_Trooper_Horns_Poses.117=all
Male_Medium_Alien_Trooper_Horns_Poses.118=all
Male_Medium_Alien_Trooper_Horns_Poses.119=all
Male_Medium_Alien_Trooper_Horns_Poses.120=all
Male_Medium_Alien_Trooper_Horns_Poses.121=all
Male_Medium_Alien_Trooper_Horns_Poses.122=all
Male_Medium_Alien_Trooper_Horns_Poses.123=all
Male_Medium_Alien_Trooper_Horns_Poses.124=all
Male_Medium_Alien_Trooper_Horns_Poses.125=all
Male_Medium_Alien_Trooper_Horns_Poses.126=all
Male_Medium_Alien_Trooper_Horns_Poses.127=all
Male_Medium_Alien_Trooper_Horns_Poses.128=all
Male_Medium_Alien_Trooper_Horns_Poses.129=all
Male_Medium_Alien_Trooper_Horns_Poses.130=all
Male_Medium_Alien_Trooper_Horns_Poses.131=all
Male_Medium_Alien_Trooper_Horns_Poses.132=all
Male_Medium_Alien_Trooper_Horns_Poses.133=all
Male_Medium_Alien_Trooper_Horns_Poses.134=all
Male_Medium_Alien_Trooper_Horns_Poses.135=all
Male_Medium_Alien_Trooper_Horns_Poses.136=all
Male_Medium_Alien_Trooper_Horns_Poses.137=all
Male_Medium_Alien_Trooper_Horns_Poses.138=all
Male_Medium_Alien_Trooper_Horns_Poses.139=all
Male_Medium_Alien_Trooper_Horns_Poses.140=all
Male_Medium_Alien_Trooper_Horns_Poses.141=all
Male_Medium_Alien_Trooper_Horns_Poses.142=all
Male_Medium_Alien_Trooper_Horns_Poses.143=all
Male_Medium_Alien_Trooper_Horns_Poses.144=all
Male_Medium_Alien_Trooper_Horns_Poses.145=all
Male_Medium_Alien_Trooper_Horns_Poses.146=all
Male_Medium_Alien_Trooper_Horns_Poses.147=all
Male_Medium_Alien_Trooper_Horns_Poses.148=all
Male_Medium_Alien_Trooper_Horns_Poses.149=all
Male_Medium_Alien_Trooper_Horns_Poses.150=all
Male_Medium_Alien_Trooper_Horns_Poses.151=all
Male_Medium_Alien_Trooper_Horns_Poses.152=all
Male_Medium_Alien_Trooper_Horns_Poses.153=all
Male_Medium_Alien_Trooper_Horns_Poses.154=all
Male_Medium_Alien_Trooper_Horns_Poses.155=all
Male_Medium_Alien_Trooper_Horns_Poses.156=all
Male_Medium_Alien_Trooper_Horns_Poses.157=all
Male_Medium_Alien_Trooper_Horns_Poses.158=all
Male_Medium_Alien_Trooper_Horns_Poses.159=all
Male_Medium_Alien_Trooper_Horns_Poses.160=all
Male_Medium_Alien_Trooper_Horns_Poses.161=all
Male_Medium_Alien_Trooper_Horns_Poses.162=all
Male_Medium_Alien_Trooper_Horns_Poses.163=all
Male_Medium_Alien_Trooper_Horns_Poses.164=all
Male_Medium_Alien_Trooper_Horns_Poses.165=all
Male_Medium_Alien_Trooper_Horns_Poses.166=all
Male_Medium_Alien_Trooper_Horns_Poses.167=all
Male_Medium_Alien_Trooper_Horns_Poses.168=all
Male_Medium_Alien_Trooper_Horns_Poses.169=all
Male_Medium_Alien_Trooper_Horns_Poses.170=all
Male_Medium_Alien_Trooper_Horns_Poses.171=all
Male_Medium_Alien_Trooper_Horns_Poses.172=all
Male_Medium_Alien_Trooper_Horns_Poses.173=all
Male_Medium_Alien_Trooper_Horns_Poses.174=all
Male_Medium_Alien_Trooper_Horns_Poses.175=all
Male_Medium_Alien_Trooper_Horns_Poses.176=all
Male_Medium_Alien_Trooper_Horns_Poses.177=all
Male_Medium_Alien_Trooper_Horns_Poses.178=all
Male_Medium_Alien_Trooper_Horns_Poses.179=all
Male_Medium_Alien_Trooper_Horns_Poses.180=all
Male_Medium_Alien_Trooper_Horns_Poses.181=all
Male_Medium_Alien_Trooper_Horns_Poses.182=all
Male_Medium_Alien_Trooper_Horns_Poses.183=all
Male_Medium_Alien_Trooper_Horns_Poses.184=all
Male_Medium_Alien_Trooper_Horns_Poses.185=all
