[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
pack
dyn_wing_base_r_master
dyn_wing_base_r_01
dyn_wing_base_r_02
dyn_wing_base_r_03
dyn_wing_r_01
dyn_wing_r_f_base
dyn_wing_r_f_01
dyn_wing_r_f_02
dyn_wing_r_f_03
dyn_wing_r_f_04
dyn_wing_r_e_base
dyn_wing_r_e_01
dyn_wing_r_e_02
dyn_wing_r_e_03
dyn_wing_r_e_04
dyn_wing_r_d_base
dyn_wing_r_d_01
dyn_wing_r_d2_01
dyn_wing_r_d2_02
dyn_wing_r_d2_03
dyn_wing_r_d_02
dyn_wing_r_d_03
dyn_wing_r_d_04
dyn_wing_r_c_base
dyn_wing_r_c_01
dyn_wing_r_c_02
dyn_wing_r_c_03
dyn_wing_r_c_04
dyn_wing_r_c2_01
dyn_wing_r_c2_02
dyn_wing_r_c2_03
dyn_wing_r_b_base
dyn_wing_r_b_01
dyn_wing_r_b_02
dyn_wing_r_b_03
dyn_wing_r_b_04
dyn_wing_r_a_base
dyn_wing_r_a_01
dyn_wing_r_a_02
dyn_wing_r_a_03
dyn_wing_r_a_04
dyn_wing_base_l_master
dyn_wing_base_l_01
dyn_wing_base_l_02
dyn_wing_base_l_03
dyn_wing_l_01
dyn_wing_l_f_base
dyn_wing_l_f_01
dyn_wing_l_f_02
dyn_wing_l_f_03
dyn_wing_l_f_04
dyn_wing_l_e_base
dyn_wing_l_e_01
dyn_wing_l_e_02
dyn_wing_l_e_03
dyn_wing_l_e_04
dyn_wing_l_d_base
dyn_wing_l_d_01
dyn_wing_l_d2_01
dyn_wing_l_d2_02
dyn_wing_l_d2_03
dyn_wing_l_d_02
dyn_wing_l_d_03
dyn_wing_l_d_04
dyn_wing_l_c_base
dyn_wing_l_c_01
dyn_wing_l_c_02
dyn_wing_l_c_03
dyn_wing_l_c_04
dyn_wing_l_c2_01
dyn_wing_l_c2_02
dyn_wing_l_c2_03
dyn_wing_l_b_base
dyn_wing_l_b_01
dyn_wing_l_b_02
dyn_wing_l_b_03
dyn_wing_l_b_04
dyn_wing_l_a_base
dyn_wing_l_a_01
dyn_wing_l_a_02
dyn_wing_l_a_03
dyn_wing_l_a_04
