[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
b_AR_Root
Melee_TwoHanded_Handle
saw_01
saw_02
saw_03
saw_04
saw_05
saw_06
saw_07
saw_08
saw_09
saw_10
saw_11
saw_12
saw_13
saw_14
saw_15
saw_16
saw_17
saw_18
saw_19
saw_20
saw_21
saw_22
saw_23
saw_24
saw_25
saw_26
saw_27
saw_28
saw_29
dyn_base
dyn_hose
