[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
attach
pelvis
spine_01
spine_02
spine_03
spine_04
spine_05
clavicle_l
clavicle_r
neck_01
neck_02
head
faceAttach
C_brow_mid
L_brow_mid
L_brow_outer
L_cheek_inner
C_lip_upper_mid
L_lip_upper_outer
L_lip_corner
C_nose_bridge
R_brow_mid
R_brow_outer
R_cheek_inner
R_lip_corner
C_jaw
L_lip_lower_outer
C_lip_lower_mid
R_lip_lower_outer
teeth_lower
tongue
R_eye
R_eye_lid_upper_mid
R_eye_lid_lower_mid
L_eye
L_eye_lid_upper_mid
L_eye_lid_lower_mid
teeth_upper
R_lip_upper_outer
dyn_hair_01
dyn_hair_02
dyn_hair_03
dyn_hair_04
dyn_hair_05
dyn_hair_06
dyn_hair_07
dyn_hair_08
dyn_hair_09
dyn_earring_r
dyn_earring_l
dyn_hair_02_a
dyn_hair_02_b
dyn_hair_02_c
dyn_hair_02_d
dyn_neck_01
dyn_neck_02
dyn_neck_03
dyn_neck_04
dyn_hair_01_a
dyn_hair_01_b
dyn_hair_01_c
dyn_hair_01_d
dyn_hair_01_e
dyn_hair_04_a
dyn_hair_05_a
dyn_hair_03_a
dyn_hair_06_a
dyn_hair_03_b
dyn_hair_011
dyn_hair_010
dyn_hair_012
dyn_hair_013
dyn_hair_013_a
dyn_hair_014
dyn_hair_014_a
dyn_hair_015
dyn_hair_015_a
dyn_hair_05_b
dyn_hair_05_c
Tail
dyn_tail_01
fin_l
dyn_fin_l
fin_r
dyn_fin_r
dyn_hair_08_a
dyn_hair_08_c
dyn_earing_r
dyn_earing_l
dyn_hair_06_b
dyn_hair_06_c
dyn_hair_07_a
dyn_hair_07_b
dyn_hair_01_f
dyn_hair_01_g
dyn_hair_01_h
dyn_hair_01_i
dyn_hairBase
dyn_hairMid
dyn_hat
dyn_belt_r_01
dyn_belt_r_02
dyn_belt_r_03
dyn_belt_r_04
dyn_belt_l_01
dyn_belt_l_02
dyn_belt_l_03
dyn_belt_l_04
dyn_belt_l_05
dyn_belt_l_06
upperarm_l
lowerarm_l
hand_l
index_metacarpal_l
index_01_l
index_02_l
index_03_l
middle_metacarpal_l
middle_01_l
middle_02_l
middle_03_l
pinky_metacarpal_l
pinky_01_l
pinky_02_l
pinky_03_l
ring_metacarpal_l
ring_01_l
ring_02_l
ring_03_l
thumb_01_l
thumb_02_l
thumb_03_l
weapon_l
lowerarm_twist_01_l
lowerarm_twist_02_l
upperarm_twist_01_l
upperarm_twist_02_l
upperarm_r
lowerarm_r
hand_r
index_metacarpal_r
index_01_r
index_02_r
index_03_r
middle_metacarpal_r
middle_01_r
middle_02_r
middle_03_r
pinky_metacarpal_r
pinky_01_r
pinky_02_r
pinky_03_r
ring_metacarpal_r
ring_01_r
ring_02_r
ring_03_r
thumb_01_r
thumb_02_r
thumb_03_r
weapon_r
lowerarm_twist_01_r
lowerarm_twist_02_r
upperarm_twist_01_r
upperarm_twist_02_r
thigh_l
calf_l
calf_twist_01_l
calf_twist_02_l
foot_l
ball_l
thigh_twist_01_l
thigh_r
calf_r
calf_twist_01_r
calf_twist_02_r
foot_r
ball_r
thigh_twist_01_r
ik_foot_root
ik_foot_l
ik_foot_r
ik_hand_root
ik_hand_gun
ik_hand_l
ik_hand_r
hair_back_right
hair_back_left
hair_side_left
hair_side_right
hair_front
face_01_r
face_02_r
face_03_r
face_04_r
face_05_r
face_06_r
face_04_l
face_05_l
face_06_l
face_01_l
face_02_l
face_03_l
dyn_ear_l_master
dyn_ear01_l
dyn_ear02_l
dyn_ear03_l
dyn_ear04_l
dyn_ear05_l
dyn_ear_r_master
dyn_ear01_r
dyn_ear02_r
dyn_ear03_r
dyn_ear04_r
dyn_ear05_r
dyn_R_eye
dyn_L_eye

[RemoveTracks]
Female_Medium_Musician_Head_Facial_Poses.1=all
Female_Medium_Musician_Head_Facial_Poses.40=all
Female_Medium_Musician_Head_Facial_Poses.41=all
Female_Medium_Musician_Head_Facial_Poses.42=all
Female_Medium_Musician_Head_Facial_Poses.43=all
Female_Medium_Musician_Head_Facial_Poses.44=all
Female_Medium_Musician_Head_Facial_Poses.45=all
Female_Medium_Musician_Head_Facial_Poses.46=all
Female_Medium_Musician_Head_Facial_Poses.47=all
Female_Medium_Musician_Head_Facial_Poses.48=all
Female_Medium_Musician_Head_Facial_Poses.49=all
Female_Medium_Musician_Head_Facial_Poses.50=all
Female_Medium_Musician_Head_Facial_Poses.51=all
Female_Medium_Musician_Head_Facial_Poses.52=all
Female_Medium_Musician_Head_Facial_Poses.53=all
Female_Medium_Musician_Head_Facial_Poses.54=all
Female_Medium_Musician_Head_Facial_Poses.55=all
Female_Medium_Musician_Head_Facial_Poses.56=all
Female_Medium_Musician_Head_Facial_Poses.57=all
Female_Medium_Musician_Head_Facial_Poses.58=all
Female_Medium_Musician_Head_Facial_Poses.59=all
Female_Medium_Musician_Head_Facial_Poses.60=all
Female_Medium_Musician_Head_Facial_Poses.61=all
Female_Medium_Musician_Head_Facial_Poses.62=all
Female_Medium_Musician_Head_Facial_Poses.63=all
Female_Medium_Musician_Head_Facial_Poses.64=all
Female_Medium_Musician_Head_Facial_Poses.65=all
Female_Medium_Musician_Head_Facial_Poses.66=all
Female_Medium_Musician_Head_Facial_Poses.67=all
Female_Medium_Musician_Head_Facial_Poses.68=all
Female_Medium_Musician_Head_Facial_Poses.69=all
Female_Medium_Musician_Head_Facial_Poses.70=all
Female_Medium_Musician_Head_Facial_Poses.71=all
Female_Medium_Musician_Head_Facial_Poses.72=all
Female_Medium_Musician_Head_Facial_Poses.73=all
Female_Medium_Musician_Head_Facial_Poses.74=all
Female_Medium_Musician_Head_Facial_Poses.75=all
Female_Medium_Musician_Head_Facial_Poses.76=all
Female_Medium_Musician_Head_Facial_Poses.77=all
Female_Medium_Musician_Head_Facial_Poses.78=all
Female_Medium_Musician_Head_Facial_Poses.79=all
Female_Medium_Musician_Head_Facial_Poses.80=all
Female_Medium_Musician_Head_Facial_Poses.81=all
Female_Medium_Musician_Head_Facial_Poses.82=all
Female_Medium_Musician_Head_Facial_Poses.83=all
Female_Medium_Musician_Head_Facial_Poses.84=all
Female_Medium_Musician_Head_Facial_Poses.85=all
Female_Medium_Musician_Head_Facial_Poses.86=all
Female_Medium_Musician_Head_Facial_Poses.87=all
Female_Medium_Musician_Head_Facial_Poses.88=all
Female_Medium_Musician_Head_Facial_Poses.89=all
Female_Medium_Musician_Head_Facial_Poses.90=all
Female_Medium_Musician_Head_Facial_Poses.91=all
Female_Medium_Musician_Head_Facial_Poses.92=all
Female_Medium_Musician_Head_Facial_Poses.93=all
Female_Medium_Musician_Head_Facial_Poses.94=all
Female_Medium_Musician_Head_Facial_Poses.95=all
Female_Medium_Musician_Head_Facial_Poses.96=all
Female_Medium_Musician_Head_Facial_Poses.97=all
Female_Medium_Musician_Head_Facial_Poses.98=all
Female_Medium_Musician_Head_Facial_Poses.99=all
Female_Medium_Musician_Head_Facial_Poses.100=all
Female_Medium_Musician_Head_Facial_Poses.101=all
Female_Medium_Musician_Head_Facial_Poses.102=all
Female_Medium_Musician_Head_Facial_Poses.103=all
Female_Medium_Musician_Head_Facial_Poses.104=all
Female_Medium_Musician_Head_Facial_Poses.105=all
Female_Medium_Musician_Head_Facial_Poses.106=all
Female_Medium_Musician_Head_Facial_Poses.107=all
Female_Medium_Musician_Head_Facial_Poses.108=all
Female_Medium_Musician_Head_Facial_Poses.109=all
Female_Medium_Musician_Head_Facial_Poses.110=all
Female_Medium_Musician_Head_Facial_Poses.111=all
Female_Medium_Musician_Head_Facial_Poses.112=all
Female_Medium_Musician_Head_Facial_Poses.113=all
Female_Medium_Musician_Head_Facial_Poses.114=all
Female_Medium_Musician_Head_Facial_Poses.115=all
Female_Medium_Musician_Head_Facial_Poses.116=all
Female_Medium_Musician_Head_Facial_Poses.117=all
Female_Medium_Musician_Head_Facial_Poses.118=all
Female_Medium_Musician_Head_Facial_Poses.119=all
Female_Medium_Musician_Head_Facial_Poses.120=all
Female_Medium_Musician_Head_Facial_Poses.121=all
Female_Medium_Musician_Head_Facial_Poses.122=all
Female_Medium_Musician_Head_Facial_Poses.123=all
Female_Medium_Musician_Head_Facial_Poses.124=all
Female_Medium_Musician_Head_Facial_Poses.125=all
Female_Medium_Musician_Head_Facial_Poses.126=all
Female_Medium_Musician_Head_Facial_Poses.127=all
Female_Medium_Musician_Head_Facial_Poses.128=all
Female_Medium_Musician_Head_Facial_Poses.129=all
Female_Medium_Musician_Head_Facial_Poses.130=all
Female_Medium_Musician_Head_Facial_Poses.131=all
Female_Medium_Musician_Head_Facial_Poses.132=all
Female_Medium_Musician_Head_Facial_Poses.133=all
Female_Medium_Musician_Head_Facial_Poses.134=all
Female_Medium_Musician_Head_Facial_Poses.135=all
Female_Medium_Musician_Head_Facial_Poses.136=all
Female_Medium_Musician_Head_Facial_Poses.137=all
Female_Medium_Musician_Head_Facial_Poses.138=all
Female_Medium_Musician_Head_Facial_Poses.139=all
Female_Medium_Musician_Head_Facial_Poses.140=all
Female_Medium_Musician_Head_Facial_Poses.141=all
Female_Medium_Musician_Head_Facial_Poses.142=all
Female_Medium_Musician_Head_Facial_Poses.143=all
Female_Medium_Musician_Head_Facial_Poses.144=all
Female_Medium_Musician_Head_Facial_Poses.145=all
Female_Medium_Musician_Head_Facial_Poses.146=all
Female_Medium_Musician_Head_Facial_Poses.147=all
Female_Medium_Musician_Head_Facial_Poses.148=all
Female_Medium_Musician_Head_Facial_Poses.149=all
Female_Medium_Musician_Head_Facial_Poses.150=all
Female_Medium_Musician_Head_Facial_Poses.151=all
Female_Medium_Musician_Head_Facial_Poses.152=all
Female_Medium_Musician_Head_Facial_Poses.153=all
Female_Medium_Musician_Head_Facial_Poses.154=all
Female_Medium_Musician_Head_Facial_Poses.155=all
Female_Medium_Musician_Head_Facial_Poses.156=all
Female_Medium_Musician_Head_Facial_Poses.157=all
Female_Medium_Musician_Head_Facial_Poses.158=all
Female_Medium_Musician_Head_Facial_Poses.159=all
Female_Medium_Musician_Head_Facial_Poses.160=all
Female_Medium_Musician_Head_Facial_Poses.161=all
Female_Medium_Musician_Head_Facial_Poses.162=all
Female_Medium_Musician_Head_Facial_Poses.163=all
Female_Medium_Musician_Head_Facial_Poses.164=all
Female_Medium_Musician_Head_Facial_Poses.165=all
Female_Medium_Musician_Head_Facial_Poses.166=all
Female_Medium_Musician_Head_Facial_Poses.167=all
Female_Medium_Musician_Head_Facial_Poses.168=all
Female_Medium_Musician_Head_Facial_Poses.169=all
Female_Medium_Musician_Head_Facial_Poses.170=all
Female_Medium_Musician_Head_Facial_Poses.171=all
Female_Medium_Musician_Head_Facial_Poses.172=all
Female_Medium_Musician_Head_Facial_Poses.173=all
Female_Medium_Musician_Head_Facial_Poses.174=all
Female_Medium_Musician_Head_Facial_Poses.175=all
Female_Medium_Musician_Head_Facial_Poses.176=all
Female_Medium_Musician_Head_Facial_Poses.177=all
Female_Medium_Musician_Head_Facial_Poses.178=all
Female_Medium_Musician_Head_Facial_Poses.179=all
Female_Medium_Musician_Head_Facial_Poses.180=all
Female_Medium_Musician_Head_Facial_Poses.181=all
Female_Medium_Musician_Head_Facial_Poses.182=all
Female_Medium_Musician_Head_Facial_Poses.183=all
Female_Medium_Musician_Head_Facial_Poses.184=all
Female_Medium_Musician_Head_Facial_Poses.185=all
Female_Medium_Musician_Head_Facial_Poses.186=all
Female_Medium_Musician_Head_Facial_Poses.187=all
Female_Medium_Musician_Head_Facial_Poses.188=all
Female_Medium_Musician_Head_Facial_Poses.189=all
Female_Medium_Musician_Head_Facial_Poses.190=all
Female_Medium_Musician_Head_Facial_Poses.191=all
Female_Medium_Musician_Head_Facial_Poses.192=all
Female_Medium_Musician_Head_Facial_Poses.193=all
Female_Medium_Musician_Head_Facial_Poses.194=all
Female_Medium_Musician_Head_Facial_Poses.195=all
Female_Medium_Musician_Head_Facial_Poses.196=all
Female_Medium_Musician_Head_Facial_Poses.197=all
Female_Medium_Musician_Head_Facial_Poses.198=all
Female_Medium_Musician_Head_Facial_Poses.199=all
Female_Medium_Musician_Head_Facial_Poses.200=all
Female_Medium_Musician_Head_Facial_Poses.201=all
Female_Medium_Musician_Head_Facial_Poses.202=all
Female_Medium_Musician_Head_Facial_Poses.203=all
Female_Medium_Musician_Head_Facial_Poses.204=all
Female_Medium_Musician_Head_Facial_Poses.205=all
Female_Medium_Musician_Head_Facial_Poses.206=all
Female_Medium_Musician_Head_Facial_Poses.207=all
Female_Medium_Musician_Head_Facial_Poses.208=all
Female_Medium_Musician_Head_Facial_Poses.209=all
Female_Medium_Musician_Head_Facial_Poses.210=all
Female_Medium_Musician_Head_Facial_Poses.211=all
Female_Medium_Musician_Head_Facial_Poses.212=all
Female_Medium_Musician_Head_Facial_Poses.213=all
Female_Medium_Musician_Head_Facial_Poses.214=all
Female_Medium_Musician_Head_Facial_Poses.215=all
Female_Medium_Musician_Head_Facial_Poses.216=all
