[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
Root
Handle
Trigger
L_panel_A
L_panel_B_1
L_panel_B_2
L_panel_C_1
L_panel_C_2
L_panel_D_1
L_panel_D_2
L_panel_E_1
L_panel_E_2
L_panel_F_1
L_panel_F_2
L_panels_J_K
L_sidePanel_I
L_panel_H
L_panel_G
L_panel_L
L_panel_M
L_panel_N
L_panel_O
L_top_ear
L_bottom_ear
L_tusk
R_panel_A
R_panel_B_1
R_panel_B_2
R_panel_C_1
R_panel_C_2
R_panel_D_1
R_panel_D_2
R_panel_E_1
R_panel_E_2
R_panel_F_1
R_panel_F_2
R_panels_J_K
R_sidePanel_I
R_panel_H
R_panel_G
R_panel_L
R_panel_M
R_panel_N
R_panel_O
R_top_ear
R_bottom_ear
R_tusk
