[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
attach
pelvis
spine_01
spine_02
spine_03
spine_04
spine_05
clavicle_l
clavicle_r
neck_01
neck_02
head
faceAttach
C_brow_mid
L_brow_mid
L_brow_outer
L_cheek_inner
C_lip_upper_mid
L_lip_upper_outer
L_lip_corner
C_nose_bridge
R_brow_mid
R_brow_outer
R_cheek_inner
R_lip_corner
C_jaw
L_lip_lower_outer
C_lip_lower_mid
R_lip_lower_outer
teeth_lower
tongue
R_eye
R_eye_lid_upper_mid
R_eye_lid_lower_mid
L_eye
L_eye_lid_upper_mid
L_eye_lid_lower_mid
teeth_upper
R_lip_upper_outer
dyn_hair_01
dyn_hair_02
dyn_hair_03
dyn_hair_04
dyn_hair_05
dyn_hair_06
dyn_hair_07
dyn_hair_08
dyn_hair_09
dyn_earring_r
dyn_earring_l
dyn_hair_02_a
dyn_hair_02_b
dyn_hair_02_c
dyn_hair_02_d
dyn_neck_01
dyn_neck_02
dyn_neck_03
dyn_neck_04
dyn_hair_01_a
dyn_hair_01_b
dyn_hair_01_c
dyn_hair_01_d
dyn_hair_01_e
dyn_hair_04_a
dyn_hair_05_a
dyn_hair_03_a
dyn_hair_06_a
dyn_hair_03_b
dyn_hair_011
dyn_hair_010
dyn_hair_012
dyn_hair_013
dyn_hair_013_a
dyn_hair_014
dyn_hair_014_a
dyn_hair_015
dyn_hair_015_a
dyn_hair_05_b
dyn_hair_05_c
Tail
dyn_tail_01
fin_l
dyn_fin_l
fin_r
dyn_fin_r
dyn_hair_08_a
dyn_hair_08_c
dyn_earing_r
dyn_earing_l
dyn_hair_06_b
dyn_hair_06_c
dyn_hair_07_a
dyn_hair_07_b
dyn_hair_01_f
dyn_hair_01_g
dyn_hair_01_h
dyn_hair_01_i
dyn_hairBase
dyn_hairMid
dyn_hat
dyn_belt_r_01
dyn_belt_r_02
dyn_belt_r_03
dyn_belt_r_04
dyn_belt_l_01
dyn_belt_l_02
dyn_belt_l_03
dyn_belt_l_04
dyn_belt_l_05
dyn_belt_l_06
upperarm_l
lowerarm_l
hand_l
index_metacarpal_l
index_01_l
index_02_l
index_03_l
middle_metacarpal_l
middle_01_l
middle_02_l
middle_03_l
pinky_metacarpal_l
pinky_01_l
pinky_02_l
pinky_03_l
ring_metacarpal_l
ring_01_l
ring_02_l
ring_03_l
thumb_01_l
thumb_02_l
thumb_03_l
weapon_l
lowerarm_twist_01_l
lowerarm_twist_02_l
upperarm_twist_01_l
upperarm_twist_02_l
upperarm_r
lowerarm_r
hand_r
index_metacarpal_r
index_01_r
index_02_r
index_03_r
middle_metacarpal_r
middle_01_r
middle_02_r
middle_03_r
pinky_metacarpal_r
pinky_01_r
pinky_02_r
pinky_03_r
ring_metacarpal_r
ring_01_r
ring_02_r
ring_03_r
thumb_01_r
thumb_02_r
thumb_03_r
weapon_r
lowerarm_twist_01_r
lowerarm_twist_02_r
upperarm_twist_01_r
upperarm_twist_02_r
thigh_l
calf_l
calf_twist_01_l
calf_twist_02_l
foot_l
ball_l
thigh_twist_01_l
thigh_r
calf_r
calf_twist_01_r
calf_twist_02_r
foot_r
ball_r
thigh_twist_01_r
ik_foot_root
ik_foot_l
ik_foot_r
ik_hand_root
ik_hand_gun
ik_hand_l
ik_hand_r
hair_back_right
hair_back_left
hair_side_left
hair_side_right
hair_front
face_01_r
face_02_r
face_03_r
face_04_r
face_05_r
face_06_r
face_04_l
face_05_l
face_06_l
face_01_l
face_02_l
face_03_l
dyn_ear_l_master
dyn_ear01_l
dyn_ear02_l
dyn_ear03_l
dyn_ear04_l
dyn_ear05_l
dyn_ear_r_master
dyn_ear01_r
dyn_ear02_r
dyn_ear03_r
dyn_ear04_r
dyn_ear05_r

[RemoveTracks]
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.40=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.41=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.42=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.43=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.44=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.45=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.46=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.47=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.48=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.49=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.50=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.51=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.52=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.53=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.54=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.55=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.56=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.57=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.58=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.59=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.60=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.61=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.62=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.63=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.64=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.65=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.66=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.67=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.68=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.69=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.70=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.71=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.72=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.73=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.74=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.75=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.76=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.77=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.78=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.79=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.80=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.81=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.82=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.83=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.84=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.85=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.86=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.87=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.88=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.89=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.90=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.91=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.92=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.93=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.94=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.95=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.96=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.97=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.98=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.99=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.100=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.101=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.102=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.103=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.104=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.105=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.106=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.107=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.108=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.109=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.110=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.111=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.112=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.113=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.114=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.115=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.116=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.117=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.118=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.119=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.120=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.121=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.122=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.123=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.124=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.125=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.126=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.127=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.128=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.129=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.130=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.131=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.132=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.133=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.134=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.135=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.136=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.137=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.138=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.139=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.140=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.141=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.142=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.143=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.144=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.145=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.146=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.147=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.148=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.149=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.150=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.151=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.152=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.153=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.154=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.155=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.156=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.157=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.158=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.159=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.160=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.161=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.162=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.163=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.164=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.165=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.166=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.167=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.168=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.169=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.170=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.171=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.172=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.173=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.174=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.175=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.176=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.177=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.178=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.179=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.180=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.181=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.182=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.183=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.184=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.185=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.186=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.187=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.188=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.189=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.190=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.191=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.192=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.193=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.194=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.195=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.196=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.197=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.198=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.199=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.200=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.201=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.202=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.203=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.204=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.205=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.206=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.207=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.208=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.209=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.210=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.211=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.212=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.213=all
M_XLG_AUX_Jim_Head_01_Facial_Pose_Export.214=all
