[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
offset
main
cageSaddle_body_base
cageSaddle_body
cageSaddle_pullout_a_base
cageSaddle_pullout_a
cageSaddle_pullout_b_base
cageSaddle_pullout_b
cageSaddle_tail_a_base
cageSaddle_tail_a
cageSaddle_tail_b_base
cageSaddle_tail_b
cageSaddle_tube_base
cageSaddle_tube
cageSaddle_knob_base
cageSaddle_knob
cageSaddle_arm_base_l
cageSaddle_arm_l
cageSaddle_base_leg_base_l
cageSaddle_leg_l
cageSaddle_arm_base_r
cageSaddle_arm_r
cageSaddle_leg_base_r
cageSaddle_leg_r
cageSaddle_body_offset_base
cageSaddle_body_offset
cageSaddle_head_base
cageSaddle_head
cageSaddle_eye_base_l
cageSaddle_eye_l
cageSaddle_ear_base_l
cageSaddle_ear_l
cageSaddle_eye_base_r
cageSaddle_eye_r
cageSaddle_ear_base_r
cageSaddle_ear_r
cageSaddle_horn_base_l
cageSaddle_horn_l
cageSaddle_horn_base_r
cageSaddle_horn_r
cageSaddle_mouth_base
cageSaddle_mouth
