[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
pack
dyn_anemone1_01
dyn_anemone1_02
dyn_anemone1_03
dyn_anemone1_04
dyn_anemone1_05
dyn_anemone1_06
dyn_anemone1_07
dyn_anemone1_08
dyn_anemone1_09
dyn_anemone1_10
dyn_anemone1_11
dyn_anemone1_12
dyn_anemone1_13
dyn_anemone1_14
dyn_anemone1_15
dyn_anemone1_16
dyn_anemone1_17
dyn_anemone1_18
dyn_anemone1_19
dyn_anemone2_01
dyn_anemone2_02
dyn_anemone2_03
dyn_anemone2_04
dyn_anemone2_05
dyn_anemone2_06
dyn_anemone2_07
dyn_anemone2_08
dyn_anemone2_09
dyn_anemone2_10
dyn_anemone3_01
dyn_anemone3_04
dyn_anemone3_05
dyn_anemone3_06
dyn_anemone3_07
dyn_anemone3_08
dyn_anemone3_09
dyn_anemone3_10
dyn_anemone3_11
dyn_anemone3_12
dyn_anemone3_13
dyn_anemone4_01
dyn_anemone4_02
dyn_anemone5_01
dyn_anemone5_02
body
head
eyesocket_r
eye_r
eyesocket_l
eye_l
leg1_01_l
leg1_02_l
leg1_03_l
leg1_04_l
leg2_01_l
leg2_02_l
leg2_03_l
leg2_04_l
claw_01_l
claw_02_l
claw_03_l
claw_01_r
claw_02_r
claw_03_r
leg2_01_r
leg2_02_r
leg2_03_r
leg2_04_r
leg1_01_r
leg1_02_r
leg1_03_r
leg1_04_r
