
[RemoveTracks]
Emote_FirecrackerSparks_CMM_Pickaxe.30=all
Emote_FirecrackerSparks_CMM_Pickaxe.31=all
Emote_FirecrackerSparks_CMM_Pickaxe.55=all
Emote_FirecrackerSparks_CMM_Pickaxe.56=all
Emote_FirecrackerSparks_CMM_Pickaxe.64=all
Emote_FirecrackerSparks_CMM_Pickaxe.65=all
Emote_FirecrackerSparks_CMM_Pickaxe.70=all
Emote_FirecrackerSparks_CMM_Pickaxe.71=all
Emote_FirecrackerSparks_CMM_Pickaxe.94=all
Emote_FirecrackerSparks_CMM_Pickaxe.95=all
Emote_FirecrackerSparks_CMM_Pickaxe.96=all
Emote_FirecrackerSparks_CMM_Pickaxe.97=all
Emote_FirecrackerSparks_CMM_Pickaxe.98=all
Emote_FirecrackerSparks_CMM_Pickaxe.99=all
Emote_FirecrackerSparks_CMM_Pickaxe.100=all
Emote_FirecrackerSparks_CMM_Pickaxe.101=all
Emote_FirecrackerSparks_CMM_Pickaxe.102=all
Emote_FirecrackerSparks_CMM_Pickaxe.103=all
Emote_FirecrackerSparks_CMM_Pickaxe.104=all
Emote_FirecrackerSparks_CMM_Pickaxe.105=all
Emote_FirecrackerSparks_CMM_Pickaxe.106=all
Emote_FirecrackerSparks_CMM_Pickaxe.107=all
Emote_FirecrackerSparks_CMM_Pickaxe.108=all
Emote_FirecrackerSparks_CMM_Pickaxe.109=all
Emote_FirecrackerSparks_CMM_Pickaxe.110=all
Emote_FirecrackerSparks_CMM_Pickaxe.111=all
Emote_FirecrackerSparks_CMM_Pickaxe.112=all
Emote_FirecrackerSparks_CMM_Pickaxe.113=all
Emote_FirecrackerSparks_CMM_Pickaxe.114=all
Emote_FirecrackerSparks_CMM_Pickaxe.115=all
Emote_FirecrackerSparks_CMM_Pickaxe.116=all
Emote_FirecrackerSparks_CMM_Pickaxe.117=all
Emote_FirecrackerSparks_CMM_Pickaxe.118=all
Emote_FirecrackerSparks_CMM_Pickaxe.119=all
Emote_FirecrackerSparks_CMM_Pickaxe.120=all
Emote_FirecrackerSparks_CMM_Pickaxe.121=all
Emote_FirecrackerSparks_CMM_Pickaxe.122=all
Emote_FirecrackerSparks_CMM_Pickaxe.123=all
Emote_FirecrackerSparks_CMM_Pickaxe.124=all
Emote_FirecrackerSparks_CMM_Pickaxe.125=all
Emote_FirecrackerSparks_CMM_Pickaxe.127=all
Emote_FirecrackerSparks_CMM_Pickaxe.128=all
Emote_FirecrackerSparks_CMM_Pickaxe.129=all
Emote_FirecrackerSparks_CMM_Pickaxe.130=all
Emote_FirecrackerSparks_CMM_Pickaxe.131=all
Emote_FirecrackerSparks_CMM_Pickaxe.132=all
Emote_FirecrackerSparks_CMM_Pickaxe.133=all
Emote_FirecrackerSparks_CMM_Pickaxe.134=all
Emote_FirecrackerSparks_CMM_Pickaxe.135=all
Emote_FirecrackerSparks_CMM_Pickaxe.136=all
Emote_FirecrackerSparks_CMM_Pickaxe.137=all
Emote_FirecrackerSparks_CMM_Pickaxe.138=all
Emote_FirecrackerSparks_CMM_Pickaxe.139=all
Emote_FirecrackerSparks_CMM_Pickaxe.140=all
Emote_FirecrackerSparks_CMM_Pickaxe.141=all
Emote_FirecrackerSparks_CMM_Pickaxe.142=all
Emote_FirecrackerSparks_CMM_Pickaxe.143=all
Emote_FirecrackerSparks_CMM_Pickaxe.144=all
Emote_FirecrackerSparks_CMM_Pickaxe.145=all
Emote_FirecrackerSparks_CMM_Pickaxe.146=all
Emote_FirecrackerSparks_CMM_Pickaxe.147=all
Emote_FirecrackerSparks_CMM_Pickaxe.148=all
Emote_FirecrackerSparks_CMM_Pickaxe.149=all
Emote_FirecrackerSparks_CMM_Pickaxe.153=all
Emote_FirecrackerSparks_CMM_Pickaxe.154=all
Emote_FirecrackerSparks_CMM_Pickaxe.155=all
Emote_FirecrackerSparks_CMM_Pickaxe.156=all
Emote_FirecrackerSparks_CMM_Pickaxe.157=all
Emote_FirecrackerSparks_CMM_Pickaxe.158=all
Emote_FirecrackerSparks_CMM_Pickaxe.159=all
Emote_FirecrackerSparks_CMM_Pickaxe.160=all
Emote_FirecrackerSparks_CMM_Pickaxe.161=all
Emote_FirecrackerSparks_CMM_Pickaxe.162=all
Emote_FirecrackerSparks_CMM_Pickaxe.163=all
Emote_FirecrackerSparks_CMM_Pickaxe.164=all
Emote_FirecrackerSparks_CMM_Pickaxe.165=all
Emote_FirecrackerSparks_CMM_Pickaxe.166=all
Emote_FirecrackerSparks_CMM_Pickaxe.167=all
Emote_FirecrackerSparks_CMM_Pickaxe.168=all
Emote_FirecrackerSparks_CMM_Pickaxe.169=all
Emote_FirecrackerSparks_CMM_Pickaxe.170=all
Emote_FirecrackerSparks_CMM_Pickaxe.171=all
Emote_FirecrackerSparks_CMM_Pickaxe.172=all
Emote_FirecrackerSparks_CMM_Pickaxe.173=all
Emote_FirecrackerSparks_CMM_Pickaxe.174=all
Emote_FirecrackerSparks_CMM_Pickaxe.175=all
Emote_FirecrackerSparks_CMM_Pickaxe.179=all
Emote_FirecrackerSparks_CMM_Pickaxe.180=all
Emote_FirecrackerSparks_CMM_Pickaxe.181=all
Emote_FirecrackerSparks_CMM_Pickaxe.182=all
Emote_FirecrackerSparks_CMM_Pickaxe.183=all
Emote_FirecrackerSparks_CMM_Pickaxe.184=all
Emote_FirecrackerSparks_CMM_Pickaxe.185=all
Emote_FirecrackerSparks_CMM_Pickaxe.186=all
Emote_FirecrackerSparks_CMM_Pickaxe.187=all
Emote_FirecrackerSparks_CMM_Pickaxe.188=all
Emote_FirecrackerSparks_CMM_Pickaxe.189=all
Emote_FirecrackerSparks_CMM_Pickaxe.190=all
Emote_FirecrackerSparks_CMM_Pickaxe.191=all
Emote_FirecrackerSparks_CMM_Pickaxe.192=all
Emote_FirecrackerSparks_CMM_Pickaxe.193=all
Emote_FirecrackerSparks_CMM_Pickaxe.194=all
Emote_FirecrackerSparks_CMM_Pickaxe.196=all
Emote_FirecrackerSparks_CMM_Pickaxe.197=all
Emote_FirecrackerSparks_CMM_Pickaxe.198=all
Emote_FirecrackerSparks_CMM_Pickaxe.199=all
Emote_FirecrackerSparks_CMM_Pickaxe.200=all
Emote_FirecrackerSparks_CMM_Pickaxe.201=all
Emote_FirecrackerSparks_CMM_Pickaxe.202=all
Emote_FirecrackerSparks_CMM_Pickaxe.203=all
Emote_FirecrackerSparks_CMM_Pickaxe.204=all
Emote_FirecrackerSparks_CMM_Pickaxe.205=all
Emote_FirecrackerSparks_CMM_Pickaxe.206=all
Emote_FirecrackerSparks_CMM_Pickaxe.207=all
Emote_FirecrackerSparks_CMM_Pickaxe.208=all
Emote_FirecrackerSparks_CMM_Pickaxe.209=all
Emote_FirecrackerSparks_CMM_Pickaxe.210=all
Emote_FirecrackerSparks_CMM_Pickaxe.211=all
Emote_FirecrackerSparks_CMM_Pickaxe.212=all
Emote_FirecrackerSparks_CMM_Pickaxe.213=all
Emote_FirecrackerSparks_CMM_Pickaxe.214=all
Emote_FirecrackerSparks_CMM_Pickaxe.215=all
Emote_FirecrackerSparks_CMM_Pickaxe.216=all
Emote_FirecrackerSparks_CMM_Pickaxe.217=all
Emote_FirecrackerSparks_CMM_Pickaxe.218=all
Emote_FirecrackerSparks_CMM_Pickaxe.219=all
Emote_FirecrackerSparks_CMM_Pickaxe.220=all
Emote_FirecrackerSparks_CMM_Pickaxe.221=all
Emote_FirecrackerSparks_CMM_Pickaxe.222=all
Emote_FirecrackerSparks_CMM_Pickaxe.223=all
Emote_FirecrackerSparks_CMM_Pickaxe.224=all
Emote_FirecrackerSparks_CMM_Pickaxe.225=all
Emote_FirecrackerSparks_CMM_Pickaxe.226=all
Emote_FirecrackerSparks_CMM_Pickaxe.227=all
Emote_FirecrackerSparks_CMM_Pickaxe.228=all
Emote_FirecrackerSparks_CMM_Pickaxe.229=all
Emote_FirecrackerSparks_CMM_Pickaxe.230=all
Emote_FirecrackerSparks_CMM_Pickaxe.231=all
Emote_FirecrackerSparks_CMM_Pickaxe.232=all
Emote_FirecrackerSparks_CMM_Pickaxe.233=all
Emote_FirecrackerSparks_CMM_Pickaxe.234=all
Emote_FirecrackerSparks_CMM_Pickaxe.235=all
Emote_FirecrackerSparks_CMM_Pickaxe.236=all
Emote_FirecrackerSparks_CMM_Pickaxe.237=all
Emote_FirecrackerSparks_CMM_Pickaxe.238=all
Emote_FirecrackerSparks_CMM_Pickaxe.239=all
Emote_FirecrackerSparks_CMM_Pickaxe.240=all
Emote_FirecrackerSparks_CMM_Pickaxe.241=all
Emote_FirecrackerSparks_CMM_Pickaxe.242=all
Emote_FirecrackerSparks_CMM_Pickaxe.243=all
Emote_FirecrackerSparks_CMM_Pickaxe.244=all
Emote_FirecrackerSparks_CMM_Pickaxe.245=all
Emote_FirecrackerSparks_CMM_Pickaxe.246=all
Emote_FirecrackerSparks_CMM_Pickaxe.247=all
Emote_FirecrackerSparks_CMM_Pickaxe.248=all
Emote_FirecrackerSparks_CMM_Pickaxe.249=all
Emote_FirecrackerSparks_CMM_Pickaxe.250=all
Emote_FirecrackerSparks_CMM_Pickaxe.253=all
Emote_FirecrackerSparks_CMM_Pickaxe.254=all
Emote_FirecrackerSparks_CMM_Pickaxe.255=all
Emote_FirecrackerSparks_CMM_Pickaxe.256=all
Emote_FirecrackerSparks_CMM_Pickaxe.257=all
Emote_FirecrackerSparks_CMM_Pickaxe.258=all
Emote_FirecrackerSparks_CMM_Pickaxe.259=all
Emote_FirecrackerSparks_CMM_Pickaxe.260=all
Emote_FirecrackerSparks_CMM_Pickaxe.261=all
Emote_FirecrackerSparks_CMM_Pickaxe.262=all
Emote_FirecrackerSparks_CMM_Pickaxe.263=all
Emote_FirecrackerSparks_CMM_Pickaxe.264=all
Emote_FirecrackerSparks_CMM_Pickaxe.265=all
