
[RemoveTracks]
Goop_Offset_Pose_CMM.1=all
Goop_Offset_Pose_CMM.2=all
Goop_Offset_Pose_CMM.3=all
Goop_Offset_Pose_CMM.4=all
Goop_Offset_Pose_CMM.5=all
Goop_Offset_Pose_CMM.6=all
Goop_Offset_Pose_CMM.7=all
Goop_Offset_Pose_CMM.8=all
Goop_Offset_Pose_CMM.9=all
Goop_Offset_Pose_CMM.10=all
Goop_Offset_Pose_CMM.11=all
Goop_Offset_Pose_CMM.12=all
Goop_Offset_Pose_CMM.13=all
Goop_Offset_Pose_CMM.14=all
Goop_Offset_Pose_CMM.15=all
Goop_Offset_Pose_CMM.16=all
Goop_Offset_Pose_CMM.17=all
Goop_Offset_Pose_CMM.18=all
Goop_Offset_Pose_CMM.19=all
Goop_Offset_Pose_CMM.20=all
Goop_Offset_Pose_CMM.21=all
Goop_Offset_Pose_CMM.22=all
Goop_Offset_Pose_CMM.23=all
Goop_Offset_Pose_CMM.24=all
Goop_Offset_Pose_CMM.25=all
Goop_Offset_Pose_CMM.26=all
Goop_Offset_Pose_CMM.27=all
Goop_Offset_Pose_CMM.28=all
Goop_Offset_Pose_CMM.29=all
Goop_Offset_Pose_CMM.30=all
Goop_Offset_Pose_CMM.31=all
Goop_Offset_Pose_CMM.32=all
Goop_Offset_Pose_CMM.55=all
Goop_Offset_Pose_CMM.56=all
Goop_Offset_Pose_CMM.57=all
Goop_Offset_Pose_CMM.58=all
Goop_Offset_Pose_CMM.59=all
Goop_Offset_Pose_CMM.60=all
Goop_Offset_Pose_CMM.61=all
Goop_Offset_Pose_CMM.62=all
Goop_Offset_Pose_CMM.63=all
Goop_Offset_Pose_CMM.64=all
Goop_Offset_Pose_CMM.65=all
Goop_Offset_Pose_CMM.66=all
Goop_Offset_Pose_CMM.67=all
Goop_Offset_Pose_CMM.68=all
Goop_Offset_Pose_CMM.69=all
Goop_Offset_Pose_CMM.70=all
Goop_Offset_Pose_CMM.71=all
Goop_Offset_Pose_CMM.72=all
Goop_Offset_Pose_CMM.74=all
Goop_Offset_Pose_CMM.75=all
Goop_Offset_Pose_CMM.76=all
Goop_Offset_Pose_CMM.80=all
Goop_Offset_Pose_CMM.81=all
Goop_Offset_Pose_CMM.82=all
Goop_Offset_Pose_CMM.83=all
Goop_Offset_Pose_CMM.84=all
Goop_Offset_Pose_CMM.85=all
Goop_Offset_Pose_CMM.86=all
Goop_Offset_Pose_CMM.87=all
Goop_Offset_Pose_CMM.88=all
Goop_Offset_Pose_CMM.89=all
Goop_Offset_Pose_CMM.90=all
Goop_Offset_Pose_CMM.93=all
Goop_Offset_Pose_CMM.94=all
Goop_Offset_Pose_CMM.95=all
Goop_Offset_Pose_CMM.96=all
Goop_Offset_Pose_CMM.97=all
Goop_Offset_Pose_CMM.98=all
Goop_Offset_Pose_CMM.99=all
Goop_Offset_Pose_CMM.100=all
Goop_Offset_Pose_CMM.101=all
Goop_Offset_Pose_CMM.102=all
Goop_Offset_Pose_CMM.103=all
Goop_Offset_Pose_CMM.104=all
Goop_Offset_Pose_CMM.105=all
Goop_Offset_Pose_CMM.106=all
Goop_Offset_Pose_CMM.107=all
Goop_Offset_Pose_CMM.108=all
Goop_Offset_Pose_CMM.109=all
Goop_Offset_Pose_CMM.110=all
Goop_Offset_Pose_CMM.111=all
Goop_Offset_Pose_CMM.112=all
Goop_Offset_Pose_CMM.113=all
Goop_Offset_Pose_CMM.114=all
Goop_Offset_Pose_CMM.115=all
Goop_Offset_Pose_CMM.116=all
Goop_Offset_Pose_CMM.117=all
Goop_Offset_Pose_CMM.118=all
Goop_Offset_Pose_CMM.119=all
Goop_Offset_Pose_CMM.120=all
Goop_Offset_Pose_CMM.121=all
Goop_Offset_Pose_CMM.122=all
Goop_Offset_Pose_CMM.123=all
Goop_Offset_Pose_CMM.124=all
Goop_Offset_Pose_CMM.125=all
Goop_Offset_Pose_CMM.126=all
Goop_Offset_Pose_CMM.127=all
Goop_Offset_Pose_CMM.128=all
Goop_Offset_Pose_CMM.129=all
Goop_Offset_Pose_CMM.130=all
Goop_Offset_Pose_CMM.131=all
Goop_Offset_Pose_CMM.132=all
Goop_Offset_Pose_CMM.133=all
Goop_Offset_Pose_CMM.134=all
Goop_Offset_Pose_CMM.135=all
Goop_Offset_Pose_CMM.136=all
Goop_Offset_Pose_CMM.137=all
Goop_Offset_Pose_CMM.138=all
Goop_Offset_Pose_CMM.139=all
Goop_Offset_Pose_CMM.140=all
Goop_Offset_Pose_CMM.141=all
Goop_Offset_Pose_CMM.142=all
Goop_Offset_Pose_CMM.143=all
Goop_Offset_Pose_CMM.144=all
Goop_Offset_Pose_CMM.145=all
Goop_Offset_Pose_CMM.146=all
Goop_Offset_Pose_CMM.147=all
Goop_Offset_Pose_CMM.148=all
Goop_Offset_Pose_CMM.149=all
Goop_Offset_Pose_CMM.150=all
Goop_Offset_Pose_CMM.151=all
Goop_Offset_Pose_CMM.152=all
Goop_Offset_Pose_CMM.153=all
Goop_Offset_Pose_CMM.154=all
Goop_Offset_Pose_CMM.155=all
Goop_Offset_Pose_CMM.156=all
Goop_Offset_Pose_CMM.157=all
Goop_Offset_Pose_CMM.158=all
Goop_Offset_Pose_CMM.159=all
Goop_Offset_Pose_CMM.160=all
Goop_Offset_Pose_CMM.161=all
Goop_Offset_Pose_CMM.162=all
Goop_Offset_Pose_CMM.163=all
Goop_Offset_Pose_CMM.164=all
Goop_Offset_Pose_CMM.165=all
Goop_Offset_Pose_CMM.166=all
Goop_Offset_Pose_CMM.167=all
Goop_Offset_Pose_CMM.168=all
Goop_Offset_Pose_CMM.169=all
Goop_Offset_Pose_CMM.170=all
Goop_Offset_Pose_CMM.171=all
Goop_Offset_Pose_CMM.172=all
Goop_Offset_Pose_CMM.173=all
Goop_Offset_Pose_CMM.174=all
Goop_Offset_Pose_CMM.175=all
Goop_Offset_Pose_CMM.176=all
Goop_Offset_Pose_CMM.177=all
Goop_Offset_Pose_CMM.178=all
Goop_Offset_Pose_CMM.179=all
Goop_Offset_Pose_CMM.180=all
Goop_Offset_Pose_CMM.181=all
Goop_Offset_Pose_CMM.182=all
Goop_Offset_Pose_CMM.183=all
Goop_Offset_Pose_CMM.184=all
Goop_Offset_Pose_CMM.185=all
Goop_Offset_Pose_CMM.186=all
Goop_Offset_Pose_CMM.187=all
Goop_Offset_Pose_CMM.188=all
Goop_Offset_Pose_CMM.189=all
Goop_Offset_Pose_CMM.190=all
Goop_Offset_Pose_CMM.191=all
Goop_Offset_Pose_CMM.192=all
Goop_Offset_Pose_CMM.193=all
Goop_Offset_Pose_CMM.194=all
Goop_Offset_Pose_CMM.195=all
Goop_Offset_Pose_CMM.196=all
Goop_Offset_Pose_CMM.197=all
Goop_Offset_Pose_CMM.198=all
Goop_Offset_Pose_CMM.199=all
Goop_Offset_Pose_CMM.200=all
Goop_Offset_Pose_CMM.201=all
Goop_Offset_Pose_CMM.202=all
Goop_Offset_Pose_CMM.203=all
Goop_Offset_Pose_CMM.204=all
Goop_Offset_Pose_CMM.205=all
Goop_Offset_Pose_CMM.206=all
Goop_Offset_Pose_CMM.207=all
Goop_Offset_Pose_CMM.208=all
Goop_Offset_Pose_CMM.209=all
Goop_Offset_Pose_CMM.210=all
Goop_Offset_Pose_CMM.211=all
Goop_Offset_Pose_CMM.212=all
Goop_Offset_Pose_CMM.213=all
Goop_Offset_Pose_CMM.214=all
Goop_Offset_Pose_CMM.215=all
Goop_Offset_Pose_CMM.216=all
Goop_Offset_Pose_CMM.217=all
Goop_Offset_Pose_CMM.218=all
Goop_Offset_Pose_CMM.219=all
Goop_Offset_Pose_CMM.220=all
Goop_Offset_Pose_CMM.221=all
Goop_Offset_Pose_CMM.222=all
Goop_Offset_Pose_CMM.223=all
Goop_Offset_Pose_CMM.224=all
Goop_Offset_Pose_CMM.225=all
Goop_Offset_Pose_CMM.226=all
Goop_Offset_Pose_CMM.227=all
Goop_Offset_Pose_CMM.228=all
Goop_Offset_Pose_CMM.229=all
Goop_Offset_Pose_CMM.230=all
Goop_Offset_Pose_CMM.231=all
Goop_Offset_Pose_CMM.232=all
Goop_Offset_Pose_CMM.233=all
Goop_Offset_Pose_CMM.234=all
Goop_Offset_Pose_CMM.235=all
Goop_Offset_Pose_CMM.236=all
Goop_Offset_Pose_CMM.237=all
Goop_Offset_Pose_CMM.238=all
Goop_Offset_Pose_CMM.239=all
Goop_Offset_Pose_CMM.240=all
Goop_Offset_Pose_CMM.241=all
Goop_Offset_Pose_CMM.242=all
Goop_Offset_Pose_CMM.243=all
Goop_Offset_Pose_CMM.244=all
Goop_Offset_Pose_CMM.245=all
Goop_Offset_Pose_CMM.246=all
Goop_Offset_Pose_CMM.247=all
Goop_Offset_Pose_CMM.248=all
Goop_Offset_Pose_CMM.249=all
Goop_Offset_Pose_CMM.250=all
Goop_Offset_Pose_CMM.251=all
Goop_Offset_Pose_CMM.253=all
Goop_Offset_Pose_CMM.254=all
Goop_Offset_Pose_CMM.255=all
Goop_Offset_Pose_CMM.256=all
Goop_Offset_Pose_CMM.257=all
Goop_Offset_Pose_CMM.258=all
Goop_Offset_Pose_CMM.259=all
Goop_Offset_Pose_CMM.260=all
Goop_Offset_Pose_CMM.261=all
Goop_Offset_Pose_CMM.262=all
Goop_Offset_Pose_CMM.263=all
Goop_Offset_Pose_CMM.264=all
Goop_Offset_Pose_CMM.265=all
