[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
offset
main
body
body_bk
tail_a
tail_b
body_dn
leg_fr_l
leg_bk_l
leg_fr_r
leg_bk_r
body_up
body_l
air_injection
body_r
body_fr
neck
head
eye_l
pupil_l
ear_l
horn_r
eye_r
pupil_r
ear_r
horn_l
mouth

[RemoveTracks]
Cage_Saddle_Foot_Back_Rgt.1=all
Cage_Saddle_Foot_Back_Rgt.2=all
Cage_Saddle_Foot_Back_Rgt.3=all
Cage_Saddle_Foot_Back_Rgt.4=all
Cage_Saddle_Foot_Back_Rgt.5=all
Cage_Saddle_Foot_Back_Rgt.6=all
Cage_Saddle_Foot_Back_Rgt.7=all
Cage_Saddle_Foot_Back_Rgt.8=all
Cage_Saddle_Foot_Back_Rgt.12=all
Cage_Saddle_Foot_Back_Rgt.13=all
Cage_Saddle_Foot_Back_Rgt.14=all
Cage_Saddle_Foot_Back_Rgt.15=all
Cage_Saddle_Foot_Back_Rgt.16=all
Cage_Saddle_Foot_Back_Rgt.17=all
Cage_Saddle_Foot_Back_Rgt.18=all
Cage_Saddle_Foot_Back_Rgt.19=all
Cage_Saddle_Foot_Back_Rgt.20=all
Cage_Saddle_Foot_Back_Rgt.21=all
Cage_Saddle_Foot_Back_Rgt.22=all
Cage_Saddle_Foot_Back_Rgt.23=all
Cage_Saddle_Foot_Back_Rgt.24=all
Cage_Saddle_Foot_Back_Rgt.25=all
Cage_Saddle_Foot_Back_Rgt.26=all
Cage_Saddle_Foot_Back_Rgt.27=all
