[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
offset
main
body
body_bk
tail_a
tail_b
body_dn
leg_fr_l
leg_bk_l
leg_fr_r
leg_bk_r
body_up
body_l
air_injection
body_r
body_fr
neck
head
eye_l
pupil_l
ear_l
horn_r
eye_r
pupil_r
ear_r
horn_l
mouth

[RemoveTracks]
Cage_Saddle_Head_Bend_Up.1=all
Cage_Saddle_Head_Bend_Up.2=all
Cage_Saddle_Head_Bend_Up.3=all
Cage_Saddle_Head_Bend_Up.4=all
Cage_Saddle_Head_Bend_Up.5=all
Cage_Saddle_Head_Bend_Up.6=all
Cage_Saddle_Head_Bend_Up.7=all
Cage_Saddle_Head_Bend_Up.8=all
Cage_Saddle_Head_Bend_Up.9=all
Cage_Saddle_Head_Bend_Up.10=all
Cage_Saddle_Head_Bend_Up.11=all
Cage_Saddle_Head_Bend_Up.12=all
Cage_Saddle_Head_Bend_Up.13=all
Cage_Saddle_Head_Bend_Up.14=all
Cage_Saddle_Head_Bend_Up.15=all
Cage_Saddle_Head_Bend_Up.20=all
Cage_Saddle_Head_Bend_Up.24=all
