[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
offset
main
body
body_bk
tail_a
tail_b
body_dn
leg_fr_l
leg_bk_l
leg_fr_r
leg_bk_r
body_up
body_l
air_injection
body_r
body_fr
neck
head
eye_l
pupil_l
ear_l
horn_r
eye_r
pupil_r
ear_r
horn_l
mouth

[RemoveTracks]
Cage_Saddle_Head_Bend_Lft.1=all
Cage_Saddle_Head_Bend_Lft.2=all
Cage_Saddle_Head_Bend_Lft.3=all
Cage_Saddle_Head_Bend_Lft.4=all
Cage_Saddle_Head_Bend_Lft.5=all
Cage_Saddle_Head_Bend_Lft.6=all
Cage_Saddle_Head_Bend_Lft.7=all
Cage_Saddle_Head_Bend_Lft.8=all
Cage_Saddle_Head_Bend_Lft.9=all
Cage_Saddle_Head_Bend_Lft.10=all
Cage_Saddle_Head_Bend_Lft.11=all
Cage_Saddle_Head_Bend_Lft.12=all
Cage_Saddle_Head_Bend_Lft.13=all
Cage_Saddle_Head_Bend_Lft.14=all
Cage_Saddle_Head_Bend_Lft.15=all
Cage_Saddle_Head_Bend_Lft.20=all
Cage_Saddle_Head_Bend_Lft.24=all
