[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
offset
main
body
body_bk
tail_a
tail_b
body_dn
leg_fr_l
leg_bk_l
leg_fr_r
leg_bk_r
body_up
body_l
air_injection
body_r
body_fr
neck
head
eye_l
pupil_l
ear_l
horn_r
eye_r
pupil_r
ear_r
horn_l
mouth

[RemoveTracks]
Cage_Saddle_Head_Bend_Down.1=all
Cage_Saddle_Head_Bend_Down.2=all
Cage_Saddle_Head_Bend_Down.3=all
Cage_Saddle_Head_Bend_Down.4=all
Cage_Saddle_Head_Bend_Down.5=all
Cage_Saddle_Head_Bend_Down.6=all
Cage_Saddle_Head_Bend_Down.7=all
Cage_Saddle_Head_Bend_Down.8=all
Cage_Saddle_Head_Bend_Down.9=all
Cage_Saddle_Head_Bend_Down.10=all
Cage_Saddle_Head_Bend_Down.11=all
Cage_Saddle_Head_Bend_Down.12=all
Cage_Saddle_Head_Bend_Down.13=all
Cage_Saddle_Head_Bend_Down.14=all
Cage_Saddle_Head_Bend_Down.15=all
Cage_Saddle_Head_Bend_Down.20=all
Cage_Saddle_Head_Bend_Down.24=all
