
[RemoveTracks]
Emote_LassoPolo_CLF.11=all
Emote_LassoPolo_CLF.12=all
Emote_LassoPolo_CLF.13=all
Emote_LassoPolo_CLF.14=all
Emote_LassoPolo_CLF.15=all
Emote_LassoPolo_CLF.16=all
Emote_LassoPolo_CLF.19=all
Emote_LassoPolo_CLF.20=all
Emote_LassoPolo_CLF.21=all
Emote_LassoPolo_CLF.22=all
Emote_LassoPolo_CLF.23=all
Emote_LassoPolo_CLF.24=all
Emote_LassoPolo_CLF.25=all
Emote_LassoPolo_CLF.26=all
Emote_LassoPolo_CLF.29=all
Emote_LassoPolo_CLF.30=all
Emote_LassoPolo_CLF.31=all
Emote_LassoPolo_CLF.55=all
Emote_LassoPolo_CLF.56=all
Emote_LassoPolo_CLF.58=all
Emote_LassoPolo_CLF.63=all
Emote_LassoPolo_CLF.64=all
Emote_LassoPolo_CLF.65=all
Emote_LassoPolo_CLF.69=all
Emote_LassoPolo_CLF.70=all
Emote_LassoPolo_CLF.71=all
Emote_LassoPolo_CLF.72=all
Emote_LassoPolo_CLF.73=all
Emote_LassoPolo_CLF.86=all
Emote_LassoPolo_CLF.87=all
Emote_LassoPolo_CLF.90=all
Emote_LassoPolo_CLF.93=all
Emote_LassoPolo_CLF.94=all
Emote_LassoPolo_CLF.95=all
Emote_LassoPolo_CLF.96=all
Emote_LassoPolo_CLF.97=all
Emote_LassoPolo_CLF.98=all
Emote_LassoPolo_CLF.99=all
Emote_LassoPolo_CLF.100=all
Emote_LassoPolo_CLF.101=all
Emote_LassoPolo_CLF.102=all
Emote_LassoPolo_CLF.103=all
Emote_LassoPolo_CLF.104=all
Emote_LassoPolo_CLF.105=all
Emote_LassoPolo_CLF.106=all
Emote_LassoPolo_CLF.107=all
Emote_LassoPolo_CLF.108=all
Emote_LassoPolo_CLF.109=all
Emote_LassoPolo_CLF.110=all
Emote_LassoPolo_CLF.111=all
Emote_LassoPolo_CLF.112=all
Emote_LassoPolo_CLF.113=all
Emote_LassoPolo_CLF.114=all
Emote_LassoPolo_CLF.115=all
Emote_LassoPolo_CLF.116=all
Emote_LassoPolo_CLF.117=all
Emote_LassoPolo_CLF.118=all
Emote_LassoPolo_CLF.119=all
Emote_LassoPolo_CLF.120=all
Emote_LassoPolo_CLF.121=all
Emote_LassoPolo_CLF.122=all
Emote_LassoPolo_CLF.123=all
Emote_LassoPolo_CLF.124=all
Emote_LassoPolo_CLF.125=all
Emote_LassoPolo_CLF.127=all
Emote_LassoPolo_CLF.128=all
Emote_LassoPolo_CLF.129=all
Emote_LassoPolo_CLF.130=all
Emote_LassoPolo_CLF.131=all
Emote_LassoPolo_CLF.132=all
Emote_LassoPolo_CLF.133=all
Emote_LassoPolo_CLF.134=all
Emote_LassoPolo_CLF.135=all
Emote_LassoPolo_CLF.136=all
Emote_LassoPolo_CLF.137=all
Emote_LassoPolo_CLF.138=all
Emote_LassoPolo_CLF.139=all
Emote_LassoPolo_CLF.140=all
Emote_LassoPolo_CLF.141=all
Emote_LassoPolo_CLF.142=all
Emote_LassoPolo_CLF.143=all
Emote_LassoPolo_CLF.144=all
Emote_LassoPolo_CLF.145=all
Emote_LassoPolo_CLF.146=all
Emote_LassoPolo_CLF.147=all
Emote_LassoPolo_CLF.148=all
Emote_LassoPolo_CLF.149=all
Emote_LassoPolo_CLF.153=all
Emote_LassoPolo_CLF.154=all
Emote_LassoPolo_CLF.155=all
Emote_LassoPolo_CLF.156=all
Emote_LassoPolo_CLF.157=all
Emote_LassoPolo_CLF.158=all
Emote_LassoPolo_CLF.159=all
Emote_LassoPolo_CLF.160=all
Emote_LassoPolo_CLF.161=all
Emote_LassoPolo_CLF.162=all
Emote_LassoPolo_CLF.163=all
Emote_LassoPolo_CLF.164=all
Emote_LassoPolo_CLF.165=all
Emote_LassoPolo_CLF.166=all
Emote_LassoPolo_CLF.167=all
Emote_LassoPolo_CLF.168=all
Emote_LassoPolo_CLF.169=all
Emote_LassoPolo_CLF.170=all
Emote_LassoPolo_CLF.171=all
Emote_LassoPolo_CLF.172=all
Emote_LassoPolo_CLF.173=all
Emote_LassoPolo_CLF.174=all
Emote_LassoPolo_CLF.175=all
Emote_LassoPolo_CLF.179=all
Emote_LassoPolo_CLF.180=all
Emote_LassoPolo_CLF.181=all
Emote_LassoPolo_CLF.182=all
Emote_LassoPolo_CLF.183=all
Emote_LassoPolo_CLF.184=all
Emote_LassoPolo_CLF.185=all
Emote_LassoPolo_CLF.186=all
Emote_LassoPolo_CLF.187=all
Emote_LassoPolo_CLF.188=all
Emote_LassoPolo_CLF.189=all
Emote_LassoPolo_CLF.190=all
Emote_LassoPolo_CLF.191=all
Emote_LassoPolo_CLF.192=all
Emote_LassoPolo_CLF.193=all
Emote_LassoPolo_CLF.194=all
Emote_LassoPolo_CLF.196=all
Emote_LassoPolo_CLF.197=all
Emote_LassoPolo_CLF.198=all
Emote_LassoPolo_CLF.199=all
Emote_LassoPolo_CLF.200=all
Emote_LassoPolo_CLF.201=all
Emote_LassoPolo_CLF.202=all
Emote_LassoPolo_CLF.203=all
Emote_LassoPolo_CLF.204=all
Emote_LassoPolo_CLF.205=all
Emote_LassoPolo_CLF.206=all
Emote_LassoPolo_CLF.207=all
Emote_LassoPolo_CLF.208=all
Emote_LassoPolo_CLF.209=all
Emote_LassoPolo_CLF.210=all
Emote_LassoPolo_CLF.211=all
Emote_LassoPolo_CLF.212=all
Emote_LassoPolo_CLF.213=all
Emote_LassoPolo_CLF.214=all
Emote_LassoPolo_CLF.215=all
Emote_LassoPolo_CLF.216=all
Emote_LassoPolo_CLF.217=all
Emote_LassoPolo_CLF.218=all
Emote_LassoPolo_CLF.219=all
Emote_LassoPolo_CLF.220=all
Emote_LassoPolo_CLF.221=all
Emote_LassoPolo_CLF.222=all
Emote_LassoPolo_CLF.223=all
Emote_LassoPolo_CLF.224=all
Emote_LassoPolo_CLF.225=all
Emote_LassoPolo_CLF.226=all
Emote_LassoPolo_CLF.227=all
Emote_LassoPolo_CLF.228=all
Emote_LassoPolo_CLF.229=all
Emote_LassoPolo_CLF.230=all
Emote_LassoPolo_CLF.231=all
Emote_LassoPolo_CLF.232=all
Emote_LassoPolo_CLF.233=all
Emote_LassoPolo_CLF.234=all
Emote_LassoPolo_CLF.235=all
Emote_LassoPolo_CLF.236=all
Emote_LassoPolo_CLF.237=all
Emote_LassoPolo_CLF.238=all
Emote_LassoPolo_CLF.239=all
Emote_LassoPolo_CLF.240=all
Emote_LassoPolo_CLF.241=all
Emote_LassoPolo_CLF.242=all
Emote_LassoPolo_CLF.243=all
Emote_LassoPolo_CLF.244=all
Emote_LassoPolo_CLF.245=all
Emote_LassoPolo_CLF.246=all
Emote_LassoPolo_CLF.247=all
Emote_LassoPolo_CLF.248=all
Emote_LassoPolo_CLF.249=all
Emote_LassoPolo_CLF.250=all
Emote_LassoPolo_CLF.253=all
Emote_LassoPolo_CLF.254=all
Emote_LassoPolo_CLF.255=all
Emote_LassoPolo_CLF.256=all
Emote_LassoPolo_CLF.257=all
Emote_LassoPolo_CLF.258=all
Emote_LassoPolo_CLF.259=all
Emote_LassoPolo_CLF.260=all
Emote_LassoPolo_CLF.261=all
Emote_LassoPolo_CLF.262=all
Emote_LassoPolo_CLF.263=all
Emote_LassoPolo_CLF.264=all
Emote_LassoPolo_CLF.265=all
