[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
attach
pelvis
spine_01
spine_02
spine_03
spine_04
spine_05
clavicle_l
clavicle_r
neck_01
neck_02
head
faceAttach
C_brow_mid
L_brow_mid
L_brow_outer
L_cheek_inner
C_lip_upper_mid
L_lip_upper_outer
L_lip_corner
C_nose_bridge
R_brow_mid
R_brow_outer
R_cheek_inner
R_lip_corner
C_jaw
L_lip_lower_outer
C_lip_lower_mid
R_lip_lower_outer
teeth_lower
tongue
R_eye
R_eye_lid_upper_mid
R_eye_lid_lower_mid
L_eye
L_eye_lid_upper_mid
L_eye_lid_lower_mid
teeth_upper
R_lip_upper_outer
dyn_hair_01
dyn_hair_02
dyn_hair_03
dyn_hair_04
dyn_hair_05
dyn_hair_06
dyn_hair_07
dyn_hair_08
dyn_hair_09
dyn_earring_r
dyn_earring_l
dyn_hair_02_a
dyn_hair_02_b
dyn_hair_02_c
dyn_hair_02_d
dyn_neck_01
dyn_neck_02
dyn_neck_03
dyn_neck_04
dyn_hair_01_a
dyn_hair_01_b
dyn_hair_01_c
dyn_hair_01_d
dyn_hair_01_e
dyn_hair_04_a
dyn_hair_05_a
dyn_hair_03_a
dyn_hair_06_a
dyn_hair_03_b
dyn_hair_011
dyn_hair_010
dyn_hair_012
dyn_hair_013
dyn_hair_013_a
dyn_hair_014
dyn_hair_014_a
dyn_hair_015
dyn_hair_015_a
dyn_hair_05_b
dyn_hair_05_c
Tail
dyn_tail_01
fin_l
dyn_fin_l
fin_r
dyn_fin_r
dyn_hair_08_a
dyn_hair_08_c
dyn_earing_r
dyn_earing_l
dyn_hair_06_b
dyn_hair_06_c
dyn_hair_07_a
dyn_hair_07_b
dyn_hair_01_f
dyn_hair_01_g
dyn_hair_01_h
dyn_hair_01_i
dyn_hairBase
dyn_hairMid
dyn_hat
dyn_belt_r_01
dyn_belt_r_02
dyn_belt_r_03
dyn_belt_r_04
dyn_belt_l_01
dyn_belt_l_02
dyn_belt_l_03
dyn_belt_l_04
dyn_belt_l_05
dyn_belt_l_06
upperarm_l
lowerarm_l
hand_l
index_metacarpal_l
index_01_l
index_02_l
index_03_l
middle_metacarpal_l
middle_01_l
middle_02_l
middle_03_l
pinky_metacarpal_l
pinky_01_l
pinky_02_l
pinky_03_l
ring_metacarpal_l
ring_01_l
ring_02_l
ring_03_l
thumb_01_l
thumb_02_l
thumb_03_l
weapon_l
lowerarm_twist_01_l
lowerarm_twist_02_l
upperarm_twist_01_l
upperarm_twist_02_l
upperarm_r
lowerarm_r
hand_r
index_metacarpal_r
index_01_r
index_02_r
index_03_r
middle_metacarpal_r
middle_01_r
middle_02_r
middle_03_r
pinky_metacarpal_r
pinky_01_r
pinky_02_r
pinky_03_r
ring_metacarpal_r
ring_01_r
ring_02_r
ring_03_r
thumb_01_r
thumb_02_r
thumb_03_r
weapon_r
lowerarm_twist_01_r
lowerarm_twist_02_r
upperarm_twist_01_r
upperarm_twist_02_r
thigh_l
calf_l
calf_twist_01_l
calf_twist_02_l
foot_l
ball_l
thigh_twist_01_l
thigh_r
calf_r
calf_twist_01_r
calf_twist_02_r
foot_r
ball_r
thigh_twist_01_r
ik_foot_root
ik_foot_l
ik_foot_r
ik_hand_root
ik_hand_gun
ik_hand_l
ik_hand_r
hair_back_right
hair_back_left
hair_side_left
hair_side_right
hair_front
face_01_r
face_02_r
face_03_r
face_04_r
face_05_r
face_06_r
face_04_l
face_05_l
face_06_l
face_01_l
face_02_l
face_03_l
dyn_ear_l_master
dyn_ear01_l
dyn_ear02_l
dyn_ear03_l
dyn_ear04_l
dyn_ear05_l
dyn_ear_r_master
dyn_ear01_r
dyn_ear02_r
dyn_ear03_r
dyn_ear04_r
dyn_ear05_r
dyn_R_eye
dyn_L_eye

[RemoveTracks]
F_MED_ASN_Sarah_Head_01_FaceBakePose.45=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.46=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.47=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.48=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.49=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.50=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.51=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.52=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.53=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.54=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.55=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.56=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.57=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.58=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.59=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.60=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.61=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.62=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.63=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.64=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.66=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.67=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.68=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.69=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.70=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.71=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.72=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.73=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.74=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.75=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.76=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.77=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.80=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.81=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.82=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.83=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.84=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.85=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.86=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.87=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.88=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.89=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.90=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.91=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.92=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.93=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.94=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.95=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.96=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.97=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.98=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.99=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.100=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.101=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.102=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.103=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.104=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.105=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.106=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.107=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.108=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.109=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.110=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.111=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.112=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.113=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.114=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.115=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.116=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.117=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.118=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.119=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.120=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.121=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.122=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.123=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.124=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.125=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.126=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.127=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.128=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.129=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.130=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.131=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.132=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.133=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.134=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.135=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.136=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.137=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.138=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.139=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.140=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.141=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.142=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.143=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.144=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.145=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.146=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.147=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.148=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.149=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.150=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.151=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.152=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.153=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.154=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.155=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.156=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.157=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.158=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.159=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.160=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.161=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.162=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.163=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.164=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.165=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.166=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.167=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.168=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.169=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.170=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.171=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.172=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.173=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.174=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.175=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.176=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.177=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.178=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.179=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.180=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.181=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.182=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.183=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.184=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.185=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.186=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.187=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.188=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.189=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.190=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.191=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.192=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.193=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.194=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.195=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.196=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.197=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.198=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.199=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.200=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.201=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.202=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.203=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.204=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.205=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.206=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.207=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.208=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.209=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.210=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.211=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.212=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.213=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.214=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.215=all
F_MED_ASN_Sarah_Head_01_FaceBakePose.216=all
