[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
offset
JNT_Jingle_Items_Main
JNT_mainBody
JNT_wheelBack_r
JNT_wheelBack_l
JNT_wheelFront_r
JNT_wheelFront_l
JNT_steer
JNT_spring_01
JNT_spring_02
JNT_spring_03
JNT_icecream
JNT_roof
JNT_Popsicle
JNT_C_wheelBack_Axle
JNT_L_wheelBack
JNT_R_wheelBack
JNT_C_wheelFront_Axle
JNT_L_wheelFront
JNT_R_wheelFront

[RemoveTracks]
Emote_Jingle_Traversal_Prop_CLM.4=all
Emote_Jingle_Traversal_Prop_CLM.5=all
Emote_Jingle_Traversal_Prop_CLM.6=all
Emote_Jingle_Traversal_Prop_CLM.7=all
Emote_Jingle_Traversal_Prop_CLM.12=all
