[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
pelvis
spine_01
spine_02
spine_03
spine_04
spine_05
clavicle_l
upperarm_l
lowerarm_l
hand_l
index_metacarpal_l
index_01_l
index_02_l
index_03_l
pinky_metacarpal_l
pinky_01_l
pinky_02_l
pinky_03_l
thumb_01_l
thumb_02_l
thumb_03_l
lowerarm_twist_01_l
lowerarm_twist_02_l
upperarm_twist_01_l
dyn_armor_l_MSTR
dyn_armor_l
upperarm_twist_02_l
clavicle_r
upperarm_r
lowerarm_r
hand_r
index_metacarpal_r
index_01_r
index_02_r
index_03_r
pinky_metacarpal_r
pinky_01_r
pinky_02_r
pinky_03_r
ring_metacarpal_r
thumb_01_r
thumb_02_r
thumb_03_r
lowerarm_twist_01_r
lowerarm_twist_02_r
upperarm_twist_01_r
dyn_armor_r_MSTR
dyn_armor_r
upperarm_twist_02_r
neck_01
neck_02
head
dyn_tube_MSTR
dyn_tube
thigh_l
calf_l
calf_twist_02_l
foot_l
ball_l
thigh_twist_01_l
thigh_r
calf_r
calf_twist_02_r
foot_r
ball_r
thigh_twist_01_r
dyn_armor_l_AIM
dyn_armor_r_AIM
head_offset
pose_pickaxe_bck

[RemoveTracks]
invader_pickaxe.23=all
invader_pickaxe.70=all
