
[RemoveTracks]
Majesty_Male_Idle.30=all
Majesty_Male_Idle.31=all
Majesty_Male_Idle.55=all
Majesty_Male_Idle.56=all
Majesty_Male_Idle.64=all
Majesty_Male_Idle.65=all
Majesty_Male_Idle.70=all
Majesty_Male_Idle.71=all
Majesty_Male_Idle.94=all
Majesty_Male_Idle.95=all
Majesty_Male_Idle.96=all
Majesty_Male_Idle.97=all
Majesty_Male_Idle.98=all
Majesty_Male_Idle.99=all
Majesty_Male_Idle.100=all
Majesty_Male_Idle.101=all
Majesty_Male_Idle.102=all
Majesty_Male_Idle.103=all
Majesty_Male_Idle.104=all
Majesty_Male_Idle.105=all
Majesty_Male_Idle.106=all
Majesty_Male_Idle.107=all
Majesty_Male_Idle.108=all
Majesty_Male_Idle.109=all
Majesty_Male_Idle.110=all
Majesty_Male_Idle.111=all
Majesty_Male_Idle.112=all
Majesty_Male_Idle.113=all
Majesty_Male_Idle.114=all
Majesty_Male_Idle.115=all
Majesty_Male_Idle.116=all
Majesty_Male_Idle.117=all
Majesty_Male_Idle.118=all
Majesty_Male_Idle.119=all
Majesty_Male_Idle.120=all
Majesty_Male_Idle.121=all
Majesty_Male_Idle.122=all
Majesty_Male_Idle.123=all
Majesty_Male_Idle.124=all
Majesty_Male_Idle.125=all
Majesty_Male_Idle.127=all
Majesty_Male_Idle.128=all
Majesty_Male_Idle.129=all
Majesty_Male_Idle.130=all
Majesty_Male_Idle.131=all
Majesty_Male_Idle.132=all
Majesty_Male_Idle.133=all
Majesty_Male_Idle.134=all
Majesty_Male_Idle.135=all
Majesty_Male_Idle.136=all
Majesty_Male_Idle.137=all
Majesty_Male_Idle.138=all
Majesty_Male_Idle.139=all
Majesty_Male_Idle.140=all
Majesty_Male_Idle.141=all
Majesty_Male_Idle.142=all
Majesty_Male_Idle.143=all
Majesty_Male_Idle.144=all
Majesty_Male_Idle.145=all
Majesty_Male_Idle.146=all
Majesty_Male_Idle.147=all
Majesty_Male_Idle.148=all
Majesty_Male_Idle.149=all
Majesty_Male_Idle.153=all
Majesty_Male_Idle.154=all
Majesty_Male_Idle.155=all
Majesty_Male_Idle.156=all
Majesty_Male_Idle.157=all
Majesty_Male_Idle.158=all
Majesty_Male_Idle.159=all
Majesty_Male_Idle.160=all
Majesty_Male_Idle.161=all
Majesty_Male_Idle.162=all
Majesty_Male_Idle.163=all
Majesty_Male_Idle.164=all
Majesty_Male_Idle.165=all
Majesty_Male_Idle.166=all
Majesty_Male_Idle.167=all
Majesty_Male_Idle.168=all
Majesty_Male_Idle.169=all
Majesty_Male_Idle.170=all
Majesty_Male_Idle.171=all
Majesty_Male_Idle.172=all
Majesty_Male_Idle.173=all
Majesty_Male_Idle.174=all
Majesty_Male_Idle.175=all
Majesty_Male_Idle.179=all
Majesty_Male_Idle.180=all
Majesty_Male_Idle.181=all
Majesty_Male_Idle.182=all
Majesty_Male_Idle.183=all
Majesty_Male_Idle.184=all
Majesty_Male_Idle.185=all
Majesty_Male_Idle.186=all
Majesty_Male_Idle.187=all
Majesty_Male_Idle.188=all
Majesty_Male_Idle.189=all
Majesty_Male_Idle.190=all
Majesty_Male_Idle.191=all
Majesty_Male_Idle.192=all
Majesty_Male_Idle.193=all
Majesty_Male_Idle.194=all
Majesty_Male_Idle.196=all
Majesty_Male_Idle.197=all
Majesty_Male_Idle.198=all
Majesty_Male_Idle.199=all
Majesty_Male_Idle.200=all
Majesty_Male_Idle.201=all
Majesty_Male_Idle.202=all
Majesty_Male_Idle.203=all
Majesty_Male_Idle.204=all
Majesty_Male_Idle.205=all
Majesty_Male_Idle.206=all
Majesty_Male_Idle.207=all
Majesty_Male_Idle.208=all
Majesty_Male_Idle.209=all
Majesty_Male_Idle.210=all
Majesty_Male_Idle.211=all
Majesty_Male_Idle.212=all
Majesty_Male_Idle.213=all
Majesty_Male_Idle.214=all
Majesty_Male_Idle.215=all
Majesty_Male_Idle.216=all
Majesty_Male_Idle.217=all
Majesty_Male_Idle.218=all
Majesty_Male_Idle.219=all
Majesty_Male_Idle.220=all
Majesty_Male_Idle.221=all
Majesty_Male_Idle.222=all
Majesty_Male_Idle.223=all
Majesty_Male_Idle.224=all
Majesty_Male_Idle.225=all
Majesty_Male_Idle.226=all
Majesty_Male_Idle.227=all
Majesty_Male_Idle.228=all
Majesty_Male_Idle.229=all
Majesty_Male_Idle.230=all
Majesty_Male_Idle.231=all
Majesty_Male_Idle.232=all
Majesty_Male_Idle.233=all
Majesty_Male_Idle.234=all
Majesty_Male_Idle.235=all
Majesty_Male_Idle.236=all
Majesty_Male_Idle.237=all
Majesty_Male_Idle.238=all
Majesty_Male_Idle.239=all
Majesty_Male_Idle.240=all
Majesty_Male_Idle.241=all
Majesty_Male_Idle.242=all
Majesty_Male_Idle.243=all
Majesty_Male_Idle.244=all
Majesty_Male_Idle.245=all
Majesty_Male_Idle.246=all
Majesty_Male_Idle.247=all
Majesty_Male_Idle.248=all
Majesty_Male_Idle.249=all
Majesty_Male_Idle.250=all
Majesty_Male_Idle.253=all
Majesty_Male_Idle.254=all
Majesty_Male_Idle.255=all
Majesty_Male_Idle.256=all
Majesty_Male_Idle.257=all
Majesty_Male_Idle.258=all
Majesty_Male_Idle.259=all
Majesty_Male_Idle.260=all
Majesty_Male_Idle.261=all
Majesty_Male_Idle.262=all
Majesty_Male_Idle.263=all
Majesty_Male_Idle.264=all
Majesty_Male_Idle.265=all
