[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
pelvis
spine_01
spine_02
spine_03
spine_04
spine_05
neck_01
neck_02
head
faceAttach
C_brow_mid
L_brow_mid
L_brow_outer
L_cheek_inner
C_nose_bridge
R_brow_mid
R_brow_outer
R_cheek_inner
R_eye
R_eye_lid_upper_mid
R_eye_lid_lower_mid
L_eye
L_eye_lid_upper_mid
L_eye_lid_lower_mid
dyn_tentacle_head_collision
dyn_head_tentacle_d
dyn_head_tentacle_c
dyn_head_tentacle_c_01
dyn_head_tentacle_b
dyn_head_tentacle_b_01
dyn_head_tentacle_a
dyn_tentacle_neck_01_collision
C_lip_upper_mid
L_lip_upper_outer
dyn_l_mouth_tentacle_a_MSTR
dyn_l_mouth_tentacle_a_01
dyn_l_mouth_tentacle_a_02
dyn_l_mouth_tentacle_a_03
dyn_l_mouth_tentacle_a_04
L_lip_corner
dyn_l_mouth_tentacle_c_MSTR
dyn_l_mouth_tentacle_c_01
dyn_l_mouth_tentacle_c_02
dyn_l_mouth_tentacle_c_03
dyn_l_mouth_tentacle_c_04
R_lip_corner
dyn_r_mouth_tentacle_c_MSTR
dyn_r_mouth_tentacle_c_01
dyn_r_mouth_tentacle_c_02
dyn_r_mouth_tentacle_c_03
dyn_r_mouth_tentacle_c_04
dyn_r_mouth_tentacle_c_05
C_jaw
L_lip_lower_outer
dyn_l_mouth_tentacle_b_MSTR
dyn_l_mouth_tentacle_b_01
dyn_l_mouth_tentacle_b_02
dyn_l_mouth_tentacle_b_03
dyn_l_mouth_tentacle_b_04
C_lip_lower_mid
R_lip_lower_outer
dyn_r_mouth_tentacle_b_MSTR
dyn_r_mouth_tentacle_b_01
dyn_r_mouth_tentacle_b_02
dyn_r_mouth_tentacle_b_03
dyn_r_mouth_tentacle_b_04
tongue
dyn_r_mouth_tongue_MSTR
dyn_r_mouth_tongue
dyn_r_mouth_tongue_01
dyn_l_mouth_tongue_MSTR
dyn_l_mouth_tongue
dyn_l_mouth_tongue_01
R_lip_upper_outer
dyn_r_mouth_tentacle_a_MSTR
dyn_r_mouth_tentacle_a_01
dyn_r_mouth_tentacle_a_02
dyn_r_mouth_tentacle_a_03
dyn_r_mouth_tentacle_a_04
dyn_R_eye
dyn_L_eye
dyn_fin_l
dyn_fin_l_02
dyn_fin_r
dyn_fin_r_02
teeth_upper
teeth_lower
dyn_l_lip_upper_outer_MSTR
dyn_l_lip_upper_outer_01
dyn_l_lip_upper_outer_02
dyn_r_lip_upper_outer_MSTR
dyn_r_lip_upper_outer_01
dyn_r_lip_upper_outer_02
clavicle_l
dyn_tentacle_clavicle_l
clavicle_r
dyn_tentacle_clavicle_r
dyn_L_whiskers_MSTR
dyn_whiskers_L_01
dyn_whiskers_L_02
dyn_whiskers_L_03
dyn_R_whiskers_MSTR
dyn_whiskers_R_01
dyn_whiskers_R_02
dyn_whiskers_R_03
dyn_brains_MSTR
dyn_brains
dyn_R_brain_eye_MSTR
dyn_L_brain_eye_MSTR
dyn_Cyclops_eye_MSTR
dyn_Cyclops_pincer_l_MSTR
dyn_Cyclops_pincer_l_01
dyn_Cyclops_pincer_l_02
dyn_Cyclops_pincer_l_03
dyn_Cyclops_pincer_r_MSTR
dyn_Cyclops_pincer_r_01
dyn_Cyclops_pincer_r_02
dyn_Cyclops_pincer_r_03
dyn_spikes_MSTR
dyn_spikes_19
dyn_spikes_18
dyn_spikes_17
dyn_spikes_16
dyn_spikes_15
dyn_spikes_14
dyn_spikes_13
dyn_spikes_12
dyn_spikes_11
dyn_spikes_10
dyn_spikes_09
dyn_spikes_08
dyn_spikes_07
dyn_spikes_06
dyn_spikes_05
dyn_spikes_04
dyn_spikes_03
dyn_spikes_02
dyn_spikes_01
dyn_spikes_00
dyn_spikes_20
dyn_brow_l_master
dyn_brow_l_01
dyn_brow_l_02
dyn_brow_r_master
dyn_brow_r_01
dyn_brow_r_02
dyn_ponytail_master
dyn_ponytail_01
dyn_ponytail_02
dyn_ponytail_03
dyn_ponytail_04
dyn_mohawk_mid_master
dyn_mohawk_mid_01
dyn_mohawk_front_master
dyn_mohawk_front_01
dyn_mohawk_front_02
dyn_ear_l_master
dyn_ear_l_01
dyn_ear_l_02
dyn_ear_l_03
dyn_ear_l_04
dyn_ear_r_master
dyn_ear_r_01
dyn_ear_r_02
dyn_ear_r_03
dyn_ear_r_04
dyn_moustache_l_master
dyn_moustache_l_01
dyn_moustache_l_02
dyn_beard_l_master
dyn_beard_l_01
dyn_beard_l_02
dyn_beard_r_master
dyn_beard_r_01
dyn_beard_r_02
dyn_moustache_r_master
dyn_moustache_r_01
dyn_moustache_r_02
dyn_r_eye_owl
dyn_l_eye_owl
dyn_owl_head
dyn_neck_02_owl
dyn_neck_01_owl
dyn_spine_05_owl
dyn_tentacle_spine_05

[RemoveTracks]
Male_Medium_Alien_Trooper_T_Head_Sequence.1=all
Male_Medium_Alien_Trooper_T_Head_Sequence.2=all
Male_Medium_Alien_Trooper_T_Head_Sequence.3=all
Male_Medium_Alien_Trooper_T_Head_Sequence.4=all
Male_Medium_Alien_Trooper_T_Head_Sequence.5=all
Male_Medium_Alien_Trooper_T_Head_Sequence.6=all
Male_Medium_Alien_Trooper_T_Head_Sequence.7=all
Male_Medium_Alien_Trooper_T_Head_Sequence.8=all
Male_Medium_Alien_Trooper_T_Head_Sequence.9=all
Male_Medium_Alien_Trooper_T_Head_Sequence.10=all
Male_Medium_Alien_Trooper_T_Head_Sequence.11=all
Male_Medium_Alien_Trooper_T_Head_Sequence.12=all
Male_Medium_Alien_Trooper_T_Head_Sequence.13=all
Male_Medium_Alien_Trooper_T_Head_Sequence.15=all
Male_Medium_Alien_Trooper_T_Head_Sequence.16=all
Male_Medium_Alien_Trooper_T_Head_Sequence.17=all
Male_Medium_Alien_Trooper_T_Head_Sequence.19=all
Male_Medium_Alien_Trooper_T_Head_Sequence.20=all
Male_Medium_Alien_Trooper_T_Head_Sequence.21=all
Male_Medium_Alien_Trooper_T_Head_Sequence.22=all
Male_Medium_Alien_Trooper_T_Head_Sequence.23=all
Male_Medium_Alien_Trooper_T_Head_Sequence.24=all
Male_Medium_Alien_Trooper_T_Head_Sequence.25=all
Male_Medium_Alien_Trooper_T_Head_Sequence.26=all
Male_Medium_Alien_Trooper_T_Head_Sequence.31=all
Male_Medium_Alien_Trooper_T_Head_Sequence.32=all
Male_Medium_Alien_Trooper_T_Head_Sequence.33=all
Male_Medium_Alien_Trooper_T_Head_Sequence.34=all
Male_Medium_Alien_Trooper_T_Head_Sequence.35=all
Male_Medium_Alien_Trooper_T_Head_Sequence.36=all
Male_Medium_Alien_Trooper_T_Head_Sequence.37=all
Male_Medium_Alien_Trooper_T_Head_Sequence.38=all
Male_Medium_Alien_Trooper_T_Head_Sequence.39=all
Male_Medium_Alien_Trooper_T_Head_Sequence.40=all
Male_Medium_Alien_Trooper_T_Head_Sequence.41=all
Male_Medium_Alien_Trooper_T_Head_Sequence.42=all
Male_Medium_Alien_Trooper_T_Head_Sequence.43=all
Male_Medium_Alien_Trooper_T_Head_Sequence.44=all
Male_Medium_Alien_Trooper_T_Head_Sequence.45=all
Male_Medium_Alien_Trooper_T_Head_Sequence.46=all
Male_Medium_Alien_Trooper_T_Head_Sequence.47=all
Male_Medium_Alien_Trooper_T_Head_Sequence.48=all
Male_Medium_Alien_Trooper_T_Head_Sequence.49=all
Male_Medium_Alien_Trooper_T_Head_Sequence.50=all
Male_Medium_Alien_Trooper_T_Head_Sequence.51=all
Male_Medium_Alien_Trooper_T_Head_Sequence.52=all
Male_Medium_Alien_Trooper_T_Head_Sequence.53=all
Male_Medium_Alien_Trooper_T_Head_Sequence.54=all
Male_Medium_Alien_Trooper_T_Head_Sequence.55=all
Male_Medium_Alien_Trooper_T_Head_Sequence.56=all
Male_Medium_Alien_Trooper_T_Head_Sequence.57=all
Male_Medium_Alien_Trooper_T_Head_Sequence.58=all
Male_Medium_Alien_Trooper_T_Head_Sequence.59=all
Male_Medium_Alien_Trooper_T_Head_Sequence.60=all
Male_Medium_Alien_Trooper_T_Head_Sequence.61=all
Male_Medium_Alien_Trooper_T_Head_Sequence.62=all
Male_Medium_Alien_Trooper_T_Head_Sequence.63=all
Male_Medium_Alien_Trooper_T_Head_Sequence.64=all
Male_Medium_Alien_Trooper_T_Head_Sequence.65=all
Male_Medium_Alien_Trooper_T_Head_Sequence.66=all
Male_Medium_Alien_Trooper_T_Head_Sequence.67=all
Male_Medium_Alien_Trooper_T_Head_Sequence.68=all
Male_Medium_Alien_Trooper_T_Head_Sequence.69=all
Male_Medium_Alien_Trooper_T_Head_Sequence.70=all
Male_Medium_Alien_Trooper_T_Head_Sequence.71=all
Male_Medium_Alien_Trooper_T_Head_Sequence.72=all
Male_Medium_Alien_Trooper_T_Head_Sequence.73=all
Male_Medium_Alien_Trooper_T_Head_Sequence.74=all
Male_Medium_Alien_Trooper_T_Head_Sequence.75=all
Male_Medium_Alien_Trooper_T_Head_Sequence.76=all
Male_Medium_Alien_Trooper_T_Head_Sequence.77=all
Male_Medium_Alien_Trooper_T_Head_Sequence.78=all
Male_Medium_Alien_Trooper_T_Head_Sequence.79=all
Male_Medium_Alien_Trooper_T_Head_Sequence.80=all
Male_Medium_Alien_Trooper_T_Head_Sequence.81=all
Male_Medium_Alien_Trooper_T_Head_Sequence.82=all
Male_Medium_Alien_Trooper_T_Head_Sequence.83=all
Male_Medium_Alien_Trooper_T_Head_Sequence.84=all
Male_Medium_Alien_Trooper_T_Head_Sequence.85=all
Male_Medium_Alien_Trooper_T_Head_Sequence.86=all
Male_Medium_Alien_Trooper_T_Head_Sequence.87=all
Male_Medium_Alien_Trooper_T_Head_Sequence.88=all
Male_Medium_Alien_Trooper_T_Head_Sequence.89=all
Male_Medium_Alien_Trooper_T_Head_Sequence.90=all
Male_Medium_Alien_Trooper_T_Head_Sequence.91=all
Male_Medium_Alien_Trooper_T_Head_Sequence.92=all
Male_Medium_Alien_Trooper_T_Head_Sequence.93=all
Male_Medium_Alien_Trooper_T_Head_Sequence.94=all
Male_Medium_Alien_Trooper_T_Head_Sequence.95=all
Male_Medium_Alien_Trooper_T_Head_Sequence.96=all
Male_Medium_Alien_Trooper_T_Head_Sequence.97=all
Male_Medium_Alien_Trooper_T_Head_Sequence.98=all
Male_Medium_Alien_Trooper_T_Head_Sequence.99=all
Male_Medium_Alien_Trooper_T_Head_Sequence.100=all
Male_Medium_Alien_Trooper_T_Head_Sequence.101=all
Male_Medium_Alien_Trooper_T_Head_Sequence.102=all
Male_Medium_Alien_Trooper_T_Head_Sequence.103=all
Male_Medium_Alien_Trooper_T_Head_Sequence.104=all
Male_Medium_Alien_Trooper_T_Head_Sequence.105=all
Male_Medium_Alien_Trooper_T_Head_Sequence.106=all
Male_Medium_Alien_Trooper_T_Head_Sequence.107=all
Male_Medium_Alien_Trooper_T_Head_Sequence.108=all
Male_Medium_Alien_Trooper_T_Head_Sequence.109=all
Male_Medium_Alien_Trooper_T_Head_Sequence.110=all
Male_Medium_Alien_Trooper_T_Head_Sequence.111=all
Male_Medium_Alien_Trooper_T_Head_Sequence.112=all
Male_Medium_Alien_Trooper_T_Head_Sequence.113=all
Male_Medium_Alien_Trooper_T_Head_Sequence.114=all
Male_Medium_Alien_Trooper_T_Head_Sequence.115=all
Male_Medium_Alien_Trooper_T_Head_Sequence.116=all
Male_Medium_Alien_Trooper_T_Head_Sequence.117=all
Male_Medium_Alien_Trooper_T_Head_Sequence.118=all
Male_Medium_Alien_Trooper_T_Head_Sequence.119=all
Male_Medium_Alien_Trooper_T_Head_Sequence.120=all
Male_Medium_Alien_Trooper_T_Head_Sequence.121=all
Male_Medium_Alien_Trooper_T_Head_Sequence.122=all
Male_Medium_Alien_Trooper_T_Head_Sequence.123=all
Male_Medium_Alien_Trooper_T_Head_Sequence.124=all
Male_Medium_Alien_Trooper_T_Head_Sequence.125=all
Male_Medium_Alien_Trooper_T_Head_Sequence.126=all
Male_Medium_Alien_Trooper_T_Head_Sequence.127=all
Male_Medium_Alien_Trooper_T_Head_Sequence.128=all
Male_Medium_Alien_Trooper_T_Head_Sequence.129=all
Male_Medium_Alien_Trooper_T_Head_Sequence.130=all
Male_Medium_Alien_Trooper_T_Head_Sequence.131=all
Male_Medium_Alien_Trooper_T_Head_Sequence.132=all
Male_Medium_Alien_Trooper_T_Head_Sequence.133=all
Male_Medium_Alien_Trooper_T_Head_Sequence.134=all
Male_Medium_Alien_Trooper_T_Head_Sequence.135=all
Male_Medium_Alien_Trooper_T_Head_Sequence.136=all
Male_Medium_Alien_Trooper_T_Head_Sequence.137=all
Male_Medium_Alien_Trooper_T_Head_Sequence.138=all
Male_Medium_Alien_Trooper_T_Head_Sequence.139=all
Male_Medium_Alien_Trooper_T_Head_Sequence.140=all
Male_Medium_Alien_Trooper_T_Head_Sequence.141=all
Male_Medium_Alien_Trooper_T_Head_Sequence.142=all
Male_Medium_Alien_Trooper_T_Head_Sequence.143=all
Male_Medium_Alien_Trooper_T_Head_Sequence.144=all
Male_Medium_Alien_Trooper_T_Head_Sequence.145=all
Male_Medium_Alien_Trooper_T_Head_Sequence.146=all
Male_Medium_Alien_Trooper_T_Head_Sequence.147=all
Male_Medium_Alien_Trooper_T_Head_Sequence.148=all
Male_Medium_Alien_Trooper_T_Head_Sequence.149=all
Male_Medium_Alien_Trooper_T_Head_Sequence.150=all
Male_Medium_Alien_Trooper_T_Head_Sequence.151=all
Male_Medium_Alien_Trooper_T_Head_Sequence.152=all
Male_Medium_Alien_Trooper_T_Head_Sequence.153=all
Male_Medium_Alien_Trooper_T_Head_Sequence.154=all
Male_Medium_Alien_Trooper_T_Head_Sequence.155=all
Male_Medium_Alien_Trooper_T_Head_Sequence.156=all
Male_Medium_Alien_Trooper_T_Head_Sequence.157=all
Male_Medium_Alien_Trooper_T_Head_Sequence.158=all
Male_Medium_Alien_Trooper_T_Head_Sequence.159=all
Male_Medium_Alien_Trooper_T_Head_Sequence.160=all
Male_Medium_Alien_Trooper_T_Head_Sequence.161=all
Male_Medium_Alien_Trooper_T_Head_Sequence.162=all
Male_Medium_Alien_Trooper_T_Head_Sequence.163=all
Male_Medium_Alien_Trooper_T_Head_Sequence.164=all
Male_Medium_Alien_Trooper_T_Head_Sequence.165=all
Male_Medium_Alien_Trooper_T_Head_Sequence.166=all
Male_Medium_Alien_Trooper_T_Head_Sequence.167=all
Male_Medium_Alien_Trooper_T_Head_Sequence.168=all
Male_Medium_Alien_Trooper_T_Head_Sequence.169=all
Male_Medium_Alien_Trooper_T_Head_Sequence.170=all
Male_Medium_Alien_Trooper_T_Head_Sequence.171=all
Male_Medium_Alien_Trooper_T_Head_Sequence.172=all
Male_Medium_Alien_Trooper_T_Head_Sequence.173=all
Male_Medium_Alien_Trooper_T_Head_Sequence.174=all
Male_Medium_Alien_Trooper_T_Head_Sequence.175=all
Male_Medium_Alien_Trooper_T_Head_Sequence.176=all
Male_Medium_Alien_Trooper_T_Head_Sequence.177=all
Male_Medium_Alien_Trooper_T_Head_Sequence.178=all
Male_Medium_Alien_Trooper_T_Head_Sequence.179=all
Male_Medium_Alien_Trooper_T_Head_Sequence.180=all
Male_Medium_Alien_Trooper_T_Head_Sequence.181=all
Male_Medium_Alien_Trooper_T_Head_Sequence.182=all
Male_Medium_Alien_Trooper_T_Head_Sequence.183=all
Male_Medium_Alien_Trooper_T_Head_Sequence.184=all
Male_Medium_Alien_Trooper_T_Head_Sequence.185=all
