[AnimSet]
bAnimRotationOnly=1

[UseTranslationBoneNames]
root
pelvis
spine_01
spine_02
spine_03
spine_04
spine_05
neck_01
neck_02
head
faceAttach
C_brow_mid
L_brow_mid
L_brow_outer
L_cheek_inner
C_nose_bridge
R_brow_mid
R_brow_outer
R_cheek_inner
R_eye
R_eye_lid_upper_mid
R_eye_lid_lower_mid
L_eye
L_eye_lid_upper_mid
L_eye_lid_lower_mid
dyn_tentacle_head_collision
dyn_head_tentacle_d
dyn_head_tentacle_c
dyn_head_tentacle_c_01
dyn_head_tentacle_b
dyn_head_tentacle_b_01
dyn_head_tentacle_a
dyn_tentacle_neck_01_collision
C_lip_upper_mid
L_lip_upper_outer
dyn_l_mouth_tentacle_a_MSTR
dyn_l_mouth_tentacle_a_01
dyn_l_mouth_tentacle_a_02
dyn_l_mouth_tentacle_a_03
dyn_l_mouth_tentacle_a_04
L_lip_corner
dyn_l_mouth_tentacle_c_MSTR
dyn_l_mouth_tentacle_c_01
dyn_l_mouth_tentacle_c_02
dyn_l_mouth_tentacle_c_03
dyn_l_mouth_tentacle_c_04
R_lip_corner
dyn_r_mouth_tentacle_c_MSTR
dyn_r_mouth_tentacle_c_01
dyn_r_mouth_tentacle_c_02
dyn_r_mouth_tentacle_c_03
dyn_r_mouth_tentacle_c_04
dyn_r_mouth_tentacle_c_05
C_jaw
L_lip_lower_outer
dyn_l_mouth_tentacle_b_MSTR
dyn_l_mouth_tentacle_b_01
dyn_l_mouth_tentacle_b_02
dyn_l_mouth_tentacle_b_03
dyn_l_mouth_tentacle_b_04
C_lip_lower_mid
R_lip_lower_outer
dyn_r_mouth_tentacle_b_MSTR
dyn_r_mouth_tentacle_b_01
dyn_r_mouth_tentacle_b_02
dyn_r_mouth_tentacle_b_03
dyn_r_mouth_tentacle_b_04
tongue
dyn_r_mouth_tongue_MSTR
dyn_r_mouth_tongue
dyn_r_mouth_tongue_01
dyn_l_mouth_tongue_MSTR
dyn_l_mouth_tongue
dyn_l_mouth_tongue_01
R_lip_upper_outer
dyn_r_mouth_tentacle_a_MSTR
dyn_r_mouth_tentacle_a_01
dyn_r_mouth_tentacle_a_02
dyn_r_mouth_tentacle_a_03
dyn_r_mouth_tentacle_a_04
dyn_R_eye
dyn_L_eye
dyn_fin_l
dyn_fin_l_02
dyn_fin_r
dyn_fin_r_02
teeth_upper
teeth_lower
dyn_l_lip_upper_outer_MSTR
dyn_l_lip_upper_outer_01
dyn_l_lip_upper_outer_02
dyn_r_lip_upper_outer_MSTR
dyn_r_lip_upper_outer_01
dyn_r_lip_upper_outer_02
clavicle_l
dyn_tentacle_clavicle_l
clavicle_r
dyn_tentacle_clavicle_r
dyn_L_whiskers_MSTR
dyn_whiskers_L_01
dyn_whiskers_L_02
dyn_whiskers_L_03
dyn_R_whiskers_MSTR
dyn_whiskers_R_01
dyn_whiskers_R_02
dyn_whiskers_R_03
dyn_brains_MSTR
dyn_brains
dyn_R_brain_eye_MSTR
dyn_L_brain_eye_MSTR
dyn_Cyclops_eye_MSTR
dyn_Cyclops_pincer_l_MSTR
dyn_Cyclops_pincer_l_01
dyn_Cyclops_pincer_l_02
dyn_Cyclops_pincer_l_03
dyn_Cyclops_pincer_r_MSTR
dyn_Cyclops_pincer_r_01
dyn_Cyclops_pincer_r_02
dyn_Cyclops_pincer_r_03
dyn_spikes_MSTR
dyn_spikes_19
dyn_spikes_18
dyn_spikes_17
dyn_spikes_16
dyn_spikes_15
dyn_spikes_14
dyn_spikes_13
dyn_spikes_12
dyn_spikes_11
dyn_spikes_10
dyn_spikes_09
dyn_spikes_08
dyn_spikes_07
dyn_spikes_06
dyn_spikes_05
dyn_spikes_04
dyn_spikes_03
dyn_spikes_02
dyn_spikes_01
dyn_spikes_00
dyn_spikes_20
dyn_brow_l_master
dyn_brow_l_01
dyn_brow_l_02
dyn_brow_r_master
dyn_brow_r_01
dyn_brow_r_02
dyn_ponytail_master
dyn_ponytail_01
dyn_ponytail_02
dyn_ponytail_03
dyn_ponytail_04
dyn_mohawk_mid_master
dyn_mohawk_mid_01
dyn_mohawk_front_master
dyn_mohawk_front_01
dyn_mohawk_front_02
dyn_ear_l_master
dyn_ear_l_01
dyn_ear_l_02
dyn_ear_l_03
dyn_ear_l_04
dyn_ear_r_master
dyn_ear_r_01
dyn_ear_r_02
dyn_ear_r_03
dyn_ear_r_04
dyn_moustache_l_master
dyn_moustache_l_01
dyn_moustache_l_02
dyn_beard_l_master
dyn_beard_l_01
dyn_beard_l_02
dyn_beard_r_master
dyn_beard_r_01
dyn_beard_r_02
dyn_moustache_r_master
dyn_moustache_r_01
dyn_moustache_r_02
dyn_r_eye_owl
dyn_l_eye_owl
dyn_owl_head
dyn_neck_02_owl
dyn_neck_01_owl
dyn_spine_05_owl
dyn_tentacle_spine_05

[RemoveTracks]
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.25=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.26=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.27=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.28=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.29=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.30=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.31=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.32=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.35=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.36=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.37=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.38=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.39=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.41=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.42=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.43=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.44=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.45=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.47=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.48=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.49=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.50=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.51=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.52=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.55=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.56=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.57=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.58=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.59=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.62=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.63=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.64=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.65=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.66=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.68=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.69=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.70=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.71=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.72=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.73=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.75=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.76=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.77=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.78=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.79=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.80=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.81=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.82=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.83=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.84=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.85=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.88=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.89=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.90=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.91=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.92=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.93=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.95=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.97=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.98=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.99=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.100=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.101=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.102=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.103=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.104=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.105=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.106=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.107=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.108=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.109=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.141=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.142=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.143=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.144=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.145=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.146=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.147=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.148=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.149=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.150=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.151=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.152=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.153=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.154=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.155=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.156=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.157=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.158=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.159=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.160=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.161=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.162=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.163=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.164=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.165=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.166=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.167=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.168=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.169=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.170=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.171=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.172=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.173=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.174=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.175=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.176=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.177=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.178=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.179=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.180=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.181=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.182=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.183=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.184=all
M_MED_Alien_Trooper_Cyclops_Head_Facial_Poses_01.185=all
